@import "~node_modules/modern-normalize/modern-normalize.css";
:root {
  --font-main: "DM Sans", sans-serif;
  --font-accent: "Titan One", cursive;
  --font-size: 16px;
  --text-color-main: #000;
  --text-color-accent: #907e82;
  --text-color-light: #ffffff;
  --primary-color: #d41443;
  --accent-color: #ffa5ba;
  --btn-primary-color: #d41342;
  --btn-accent-color: #ecebeb;
  --btn-hero-color: #f15277;
  --bg-color: #ffb8ca;
  --icon-bg-color: #fea5bb;
  --bg-color-light: #fff5f6;
  --bg-color-shadow: rgba(255, 184, 202, 0.2);
  --product-color-first: #ffb8ca;
  --product-color-second: #f0d1a5;
  --product-color-third: #c2e297;
  --card-shadow: 0 8px 30px rgba(212, 20, 67, 0.1);
  --gutter: 32px;
  --gutter-mob: 20px;
  --section-padding: 60px;
  --transition-prop: 0.25s ease;
}

body {
  font-family: var(--font-main);
  font-size: var(--font-size);
  color: var(--text-color-main);
}

body.modal-open {
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visual-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
}
@media screen and (min-width: 320px) and (max-width: 767.9px) {
  .container {
    max-width: 480px;
    padding-left: var(--gutter-mob);
    padding-right: var(--gutter-mob);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.9px) {
  .container {
    width: 768px;
    padding-left: var(--gutter);
    padding-right: var(--gutter);
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-left: calc(var(--gutter) / 2);
    padding-right: calc(var(--gutter) / 2);
  }
}

.section {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.section__title {
  margin-bottom: 20px;
  font-family: var(--font-accent);
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--primary-color);
}
@media screen and (min-width: 768px) and (max-width: 1199.9px) {
  .section__title {
    font-size: 48px;
  }
}
@media screen and (min-width: 1200px) {
  .section__title {
    font-size: 58px;
    line-height: 1.14;
  }
}

.section__subtitle {
  margin-bottom: 16px;
  font-family: var(--font-accent);
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  text-align: center;
  text-transform: uppercase;
  color: var(--accent-color);
}
@media screen and (min-width: 768px) and (max-width: 1199.9px) {
  .section__subtitle {
    font-size: 26px;
    line-height: 1.15;
  }
}
@media screen and (min-width: 1200px) {
  .section__subtitle {
    font-size: 30px;
    line-height: 1.13;
  }
}

@-webkit-keyframes scale-up-center {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-up-center {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.header.fixed {
  position: fixed;
  background-color: var(--bg-color);
}

.header-wrapper {
  display: flex;
  padding-top: 8px;
  padding-bottom: 8px;
}
@media screen and (min-width: 320px) and (max-width: 767.9px) {
  .header-wrapper {
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .header-wrapper {
    padding-top: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .header-wrapper {
    justify-content: space-between;
    padding-top: 37px;
    align-items: center;
  }
}

.header.fixed .header-wrapper {
  padding-top: 8px;
  padding-bottom: 8px;
}

.header__btn-open {
  display: flex;
  border: none;
  background-color: transparent;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .header__btn-open {
    margin-right: 32px;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .header__btn-open {
    display: none;
  }
}

@media screen and (max-width: 1199px) {
  .desktop-nav {
    display: none;
  }
}

.header__icon-btn {
  stroke: var(--primary-color);
}

.desktop-nav__item:not(:last-child) {
  margin-right: 35px;
}

.header__btn-buy {
  justify-content: center;
  align-items: center;
  min-width: 160px;
  height: 44px;
  border-radius: 22px;
  background-color: #fff;
  border: 0;
  font-family: var(--font-main);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  color: var(--primary-color);
  transition: background-color var(--transition-prop);
}
.header__btn-buy:hover, .header__btn-buy:focus {
  background-color: #ecebeb;
}
@media screen and (max-width: 767px) {
  .header__btn-buy {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .header__btn-buy {
    cursor: pointer;
  }
}
.header__btn-buy--mobile {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
  padding: 8px 16px;
  min-width: 209px;
}

.desktop-nav__item {
  display: inline;
}

.desktop-nav__link {
  font-family: var(--font-main);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  color: #fff;
  transition: color var(--transition-prop);
}
.desktop-nav__link:focus, .desktop-nav__link:hover, .desktop-nav__link.active {
  color: var(--primary-color);
}

.logo {
  fill: var(--primary-color);
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #e17992;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  transform: translateX(0);
  transition: transform var(--transition-prop), opacity var(--transition-prop);
}
@media screen and (min-width: 768px) and (max-width: 1199.9px) {
  .menu {
    width: 40%;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .menu {
    display: none;
  }
}

.menu.is-hidden {
  opacity: 0;
  pointer-events: none;
}
@media screen and (min-width: 320px) and (max-width: 767.9px) {
  .menu.is-hidden {
    transform: translateX(-100%);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.9px) {
  .menu.is-hidden {
    transform: translateX(100%);
  }
}

.mobile-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
}
@media screen and (min-width: 320px) and (max-width: 767.9px) {
  .mobile-container {
    max-width: 400px;
  }
}

.menu__btn-close {
  top: 20px;
  right: 0;
  margin-left: auto;
  margin-bottom: 26px;
  border: none;
  background-color: transparent;
}
.menu__btn-close:hover .menu__close-icon, .menu__btn-close:focus .menu__close-icon {
  transform: rotate(-90deg);
}

.menu__close-icon {
  stroke: #fff;
  transition: transform 300ms linear;
}

.buy__btn-arrow {
  margin-left: 16px;
  stroke: var(--primary-color);
}

.nav__link {
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
  font-family: var(--font-main);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  color: #fff;
}
.nav__link:active {
  color: var(--primary-color);
}

.nav__item {
  border-top: 1px solid #e18298;
}
.nav__item:last-child {
  border-bottom: 1px solid #e18298;
}

.hero {
  background-color: var(--bg-color);
  padding-top: 194px;
  margin: 0 auto;
  height: 502px;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .hero {
    height: 416px;
    padding-top: 102px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    height: 664px;
    padding-top: 147px;
  }
}

.hero__container {
  position: relative;
  height: 100%;
}

.hero__title {
  z-index: 3;
  position: relative;
  width: 218px;
  font-family: var(--font-accent);
  text-transform: uppercase;
  margin-bottom: 20px;
}
.hero__title--white {
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  color: var(--text-color-light);
}
.hero__title--pink {
  font-weight: 400;
  font-size: 48px;
  line-height: 0.97;
  letter-spacing: normal;
  color: var(--primary-color);
}
@media screen and (min-width: 768px) {
  .hero__title {
    width: 162px;
  }
  .hero__title--white {
    font-size: 22px;
    line-height: 1.14;
  }
  .hero__title--pink {
    font-size: 34px;
    line-height: 0.91;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    width: 277px;
    margin-bottom: 24px;
  }
  .hero__title--white {
    font-size: 38px;
    line-height: 1.16;
  }
  .hero__title--pink {
    font-size: 58px;
  }
}

.department__list {
  position: absolute;
  right: 32px;
  top: -10px;
}
@media screen and (min-width: 320px) and (max-width: 767.9px) {
  .department__list {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .department__list {
    top: 5px;
  }
}

.department__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 16px;
}

.department__circle {
  position: absolute;
  z-index: 2;
  background-color: var(--text-color-light);
  border-radius: 50%;
}
@media screen and (min-width: 768px) {
  .department__circle {
    width: 16px;
    height: 16px;
    top: -2px;
    right: -8px;
  }
}
@media screen and (min-width: 1200px) {
  .department__circle {
    width: 30px;
    height: 30px;
    top: -4px;
    right: -18px;
  }
}

.department__number {
  z-index: 3;
  font-family: var(--font-accent);
  font-weight: 400;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--primary-color);
}
@media screen and (min-width: 1200px) {
  .department__number {
    font-size: 46px;
    line-height: 1.15;
    margin-bottom: 2px;
  }
}

.department__kind {
  font-family: var(--font-main);
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  letter-spacing: normal;
  color: var(--text-color-light);
}
@media screen and (min-width: 1200px) {
  .department__kind {
    font-size: 14px;
    line-height: 1.29;
  }
}

.hero__list {
  display: flex;
  gap: 8px;
  position: relative;
  z-index: 3;
}
@media screen and (min-width: 768px) {
  .hero__list {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__list {
    margin-bottom: 40px;
    gap: 12px;
  }
}

.hero__link {
  z-index: 2;
  position: relative;
  border-radius: 20px;
  height: 24px;
  padding: 0 14px;
  font-family: var(--font-main);
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  letter-spacing: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero__link--pink {
  color: var(--text-color-light);
  background-color: var(--primary-color);
  transition: background-color 250ms;
}
.hero__link--pink:hover, .hero__link--pink:focus {
  background-color: var(--btn-hero-color);
}
.hero__link--white {
  color: var(--primary-color);
  background-color: var(--text-color-light);
  transition: background-color 250ms;
}
.hero__link--white:hover, .hero__link--white:focus {
  background-color: var(--btn-accent-color);
}
@media screen and (min-width: 1200px) {
  .hero__link {
    height: 40px;
    font-size: 14px;
    line-height: 1.29;
  }
}

.hero__info {
  position: absolute;
  z-index: 3;
  left: 184px;
  bottom: 56px;
  width: 114px;
}
@media screen and (min-width: 320px) and (max-width: 767.9px) {
  .hero__info {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .hero__info {
    width: 200px;
    left: 229px;
    bottom: 84px;
  }
}

.hero__text {
  font-family: var(--font-main);
  font-weight: 400;
  font-size: 8px;
  line-height: 1.5;
  letter-spacing: 0;
  color: var(--text-color-light);
}
@media screen and (min-width: 1200px) {
  .hero__text {
    font-size: 14px;
    line-height: 1.4;
  }
}

.hero__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: none;
  margin-top: 7px;
  padding: 0;
  cursor: pointer;
  color: var(--primary-color);
  background-color: var(--text-color-light);
  transition: background-color 250ms;
}
.hero__btn:hover, .hero__btn:focus {
  background-color: var(--btn-accent-color);
}
@media screen and (min-width: 320px) and (max-width: 767.9px) {
  .hero__btn {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .hero__btn {
    width: 26px;
    height: 26px;
  }
}

.hero__btn-icon {
  fill: currentColor;
}
@media screen and (min-width: 1200px) {
  .hero__btn-icon {
    width: 10px;
    height: 11px;
  }
}

.hero__img--milk {
  position: absolute;
  width: 152px;
  bottom: 16px;
  z-index: 1;
}
@media screen and (min-width: 320px) and (max-width: 767.9px) {
  .hero__img--milk {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .hero__img--milk {
    width: 213px;
    bottom: 60px;
  }
}

.hero__img--ice-cream {
  position: absolute;
  width: 171px;
  right: 32px;
  bottom: 0;
  z-index: 2;
}
@media screen and (min-width: 768px) {
  .hero__img--ice-cream {
    width: 146px;
    right: 303px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__img--ice-cream {
    width: 236px;
    right: 328px;
  }
}

.hero__img--prompt {
  display: none;
}
@media screen and (min-width: 1200px) {
  .hero__img--prompt {
    display: block;
    position: absolute;
    top: 100px;
    left: 700px;
    z-index: 3;
    font-family: var(--font-accent);
    font-size: 16px;
    color: var(--primary-color);
    text-shadow: 0 0 6px #fff, 2px 2px 10px #fff, -2px -2px 10px #fff;
    opacity: 0;
    transition: opacity var(--transition-prop);
    pointer-events: none;
    -webkit-animation: scale-up-center 2s linear 5s infinite reverse;
    animation: scale-up-center 2s linear 5s infinite reverse;
  }
}

.hero__circle {
  position: absolute;
  border-radius: 50%;
  height: 344px;
  width: 346px;
  background-color: var(--accent-color);
  bottom: 75px;
  right: -62px;
}
@media screen and (min-width: 768px) {
  .hero__circle {
    height: 335px;
    width: 333px;
    bottom: 40px;
    right: 185px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__circle {
    height: 534px;
    width: 534px;
    bottom: 77px;
    right: 149px;
  }
}

.hero__img--girl {
  position: absolute;
  width: 190px;
  right: 32px;
  bottom: 0px;
  z-index: 2;
}
@media screen and (min-width: 320px) and (max-width: 767.9px) {
  .hero__img--girl {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .hero__img--girl {
    width: 304px;
    right: 16px;
  }
}

.coffee-scheme {
  --primary-color: #ce7336;
  --accent-color: #e8c086;
  --btn-primary-color: #cc7236;
  --bg-color: #f0d1a5;
  --bg-color-light: #fff9f5;
  --icon-bg-color: #fed4a5;
  --btn-hero-color: #f19f52;
}
.coffee-scheme .hero__img--prompt {
  top: 240px;
  left: 760px;
}

.green-scheme {
  --primary-color: #24c44c;
  --accent-color: #acd17b;
  --btn-primary-color: #24c44c;
  --bg-color: #c2e297;
  --bg-color-light: #f5fff5;
  --icon-bg-color: #acfea5;
  --btn-hero-color: #52f17a;
}
.green-scheme .hero__img--prompt {
  top: 320px;
  left: 730px;
}

.map {
  display: none;
}
@media screen and (min-width: 1200px) {
  .map {
    display: inline;
  }
}

@media screen and (min-width: 1200px) {
  .products-box.container {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media screen and (min-width: 768px) {
  .products__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .products__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
  }
}

.products__item {
  width: 100%;
}

.products__item::before {
  position: relative;
  z-index: 1;
  display: block;
  content: "";
  width: 100%;
  height: 280px;
  margin-bottom: -200px;
  margin-top: 62px;
  transform: translateY(-62px);
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products__item::before {
    background-size: 280px 280px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.9px) {
  .products__item::before {
    height: 307px;
    margin-top: 18px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.9px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199.9px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199.9px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199.9px) and (min-resolution: 2dppx) {
  .products__item::before {
    background-size: 224px 224px;
  }
}
@media screen and (min-width: 1200px) {
  .products__item::before {
    height: 394px;
    margin-top: 62px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .products__item::before {
    background-size: 368px 394px;
  }
}

.products__item:nth-child(1):before {
  background-image: url(../images/products/product1-mob.png);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products__item:nth-child(1):before {
    background-image: url(../images/products/product1-mob@2.png);
  }
}
@media screen and (min-width: 768px) {
  .products__item:nth-child(1):before {
    background-image: url(../images/products/product1-tab.png);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .products__item:nth-child(1):before {
    background-image: url(../images/products/product1-tab@2.png);
  }
}
@media screen and (min-width: 1200px) {
  .products__item:nth-child(1):before {
    background-image: url(../images/products/product1-desk.png);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .products__item:nth-child(1):before {
    background-image: url(../images/products/product1-desk@2.png);
  }
}

.products__item:nth-child(2)::before {
  background-image: url(../images/products/product2-mob.png);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products__item:nth-child(2)::before {
    background-image: url(../images/products/product2-mob@2.png);
  }
}
@media screen and (min-width: 768px) {
  .products__item:nth-child(2)::before {
    background-image: url(../images/products/product2-tab.png);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .products__item:nth-child(2)::before {
    background-image: url(../images/products/product2-tab@2.png);
  }
}
@media screen and (min-width: 1200px) {
  .products__item:nth-child(2)::before {
    background-image: url(../images/products/product2-desk.png);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .products__item:nth-child(2)::before {
    background-image: url(../images/products/product2-desk@2.png);
  }
}

.products__item:nth-child(3)::before {
  background-image: url(../images/products/product3-mob.png);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products__item:nth-child(3)::before {
    background-image: url(../images/products/product3-mob@2.png);
  }
}
@media screen and (min-width: 768px) {
  .products__item:nth-child(3)::before {
    background-image: url(../images/products/product3-tab.png);
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products__item:nth-child(3)::before {
    background-image: url(../images/products/product3-tab@2.png);
  }
}
@media screen and (min-width: 1200px) {
  .products__item:nth-child(3)::before {
    background-image: url(../images/products/product3-desk.png);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .products__item:nth-child(3)::before {
    background-image: url(../images/products/product3-desk@2.png);
  }
}

.products__item-wrapper {
  position: relative;
  overflow: hidden;
  padding: 155px 25px 40px;
  border-radius: 24px;
}
@media screen and (min-width: 768px) {
  .products__item-wrapper {
    padding-top: 118px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .products__item-wrapper {
    padding-top: 165px;
    padding-left: 63px;
    padding-right: 63px;
  }
}

.products__item-wrapper--pink {
  background-color: var(--product-color-first);
}

.products__item-wrapper--yellow {
  background-color: var(--product-color-second);
}

.products__item-wrapper--green {
  background-color: var(--product-color-third);
}

.products__item-title {
  position: relative;
  margin-bottom: 70px;
  font-family: var(--font-accent);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.04;
  color: var(--text-color-light);
  text-transform: uppercase;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .products__item-title {
    margin-bottom: 70px;
    font-size: 30px;
  }
}

.products__item-title::after {
  content: ". . .";
  position: absolute;
  top: 40px;
  left: 45%;
  display: block;
}

.products__item-paragraph {
  height: auto;
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  letter-spacing: 0.04;
  color: var(--text-color-light);
  text-align: center;
}
@media screen and (min-width: 768px) {
  .products__item-paragraph {
    line-height: 1.76;
    letter-spacing: 0.05;
  }
}
@media screen and (min-width: 1200px) {
  .products__item-paragraph {
    margin-bottom: 60px;
    font-size: 16px;
    letter-spacing: 0.04;
  }
}

@media screen and (min-width: 768px) {
  .products__item-paragraph-mob {
    display: none;
  }
}

.products__btn {
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
  transition: var(--transition-prop);
}
.products__btn:hover, .products__btn:focus {
  background-color: var(--btn-accent-color);
}

.products__btn-icon {
  fill: var(--btn-primary-color);
  transform: rotate(0);
  transition: transform var(--transition-prop);
}
.arrow--turned .products__btn-icon {
  transform: rotate(0.5turn);
}

.description {
  position: absolute;
  z-index: 1;
  transform: translateX(-128%);
  transition: var(--transition-prop);
  width: calc(100% - 50px);
}
.products--hidden-description .description {
  transform: translateX(0);
}
@media screen and (min-width: 428px) {
  .description {
    padding: 0;
  }
}
@media screen and (min-width: 768px) {
  .description {
    width: calc(100% - 64px);
  }
}
@media screen and (min-width: 1200px) {
  .description {
    width: calc(100% - 126px);
  }
}

.description--ice-cream {
  background-color: var(--product-color-first);
}

.description--ice-coffee {
  background-color: var(--product-color-second);
}

.description--milkshakes {
  background-color: var(--product-color-third);
}

.description::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  background-position: 50% 50%;
  transform: translateX(-50%);
  display: block;
  width: 230px;
  height: 100%;
  opacity: 0.3;
}

.description--ice-cream::after {
  background-image: url(../images/products/strawberry-mob.png);
  background-size: 128px 150px;
  background-repeat: no-repeat;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .description--ice-cream::after {
    background-image: url(../images/products/strawberry-mob@2.png);
  }
}
@media screen and (min-width: 768px) {
  .description--ice-cream::after {
    background-image: url(../images/products/strawberry-tab.png);
    background-size: 204px 240px;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .description--ice-cream::after {
    background-image: url(../images/products/strawberry-tab@2.png);
  }
}
@media screen and (min-width: 1200px) {
  .description--ice-cream::after {
    background-image: url(../images/products/strawberry-desk.png);
    background-size: 242px 273px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .description--ice-cream::after {
    background-image: url(../images/products/strawberry-desk@2.png);
  }
}

.description--ice-coffee::after {
  background-image: url(../images/products/cafe-mob.png);
  background-size: 128px 150px;
  background-repeat: no-repeat;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .description--ice-coffee::after {
    background-image: url(../images/products/cafe-mob@2.png);
  }
}
@media screen and (min-width: 768px) {
  .description--ice-coffee::after {
    background-image: url(../images/products/cafe-tab.png);
    background-size: 204px 240px;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .description--ice-coffee::after {
    background-image: url(../images/products/cafe-tab@2.png);
  }
}
@media screen and (min-width: 1200px) {
  .description--ice-coffee::after {
    background-image: url(../images/products/cafe-desk.png);
    background-size: 242px 273px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .description--ice-coffee::after {
    background-image: url(../images/products/cafe-desk@2.png);
  }
}

.description--milkshakes::after {
  opacity: 0.7;
  background-image: url(../images/products/milk-mob.png);
  background-size: 145px 180px;
  background-repeat: no-repeat;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .description--milkshakes::after {
    background-image: url(../images/products/milk-mob@2.png);
  }
}
@media screen and (min-width: 768px) {
  .description--milkshakes::after {
    background-image: url(../images/products/milk-tab.png);
    background-size: 204px 240px;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .description--milkshakes::after {
    background-image: url(../images/products/milk-tab@2.png);
  }
}
@media screen and (min-width: 1200px) {
  .description--milkshakes::after {
    background-image: url(../images/products/milk-desk.png);
    background-size: 242px 273px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .description--milkshakes::after {
    background-image: url(../images/products/milk-desk@2.png);
  }
}

.description__list--ice-cream {
  color: #f34c4c;
}

.description__list--ice-coffee {
  color: #dd9312;
}

.description__list--ice-coffee li {
  padding-bottom: 5px;
}

.description__list--milkshakes {
  color: #569256;
}

.description__item {
  position: relative;
  z-index: 1;
  text-shadow: 0 0 6px #ffffff, 2px 2px 10px #ffffff, -2px -2px 10px #ffffff;
  text-align: center;
  font-family: var(--font-accent);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.52;
  letter-spacing: 0.04;
}
@media screen and (min-width: 768px) {
  .description__item {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.15;
    letter-spacing: 0.04;
  }
}
@media screen and (min-width: 1200px) {
  .description__item {
    font-weight: 400;
    font-size: 16;
    line-height: 1.15;
    letter-spacing: 0.04;
  }
}

@media screen and (max-width: 427.89px) {
  .description__item:not(:last-child) {
    margin-bottom: 5px;
  }
}
@media screen and (min-width: 768px) {
  .description__item:not(:last-child) {
    margin-bottom: 18px;
  }
}

.description__dot {
  letter-spacing: 8px;
}
@media screen and (min-width: 768px) {
  .description__dot {
    letter-spacing: 1px;
  }
}

.about {
  padding-bottom: 40px;
  padding-top: var(--section-padding);
  background-color: var(--bg-color-light);
}
@media screen and (min-width: 768px) and (max-width: 1199.9px) {
  .about {
    padding-bottom: var(--section-padding);
  }
}
@media screen and (min-width: 1200px) {
  .about {
    padding-bottom: 0;
    overflow: hidden;
    background-image: url(../images/about/milk-bg-desk.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: right 241px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .about {
    background-image: url(../images/about/milk-bg-desk@2.png);
  }
}

.about__title {
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) and (max-width: 1199.9px) {
  .about__title {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .about__title {
    margin-bottom: 60px;
  }
}

.about__wrap {
  min-width: 280px;
  background-image: url(../images/about/milk-bg-mob.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: right 395px;
}
@media screen and (min-width: 330px) {
  .about__wrap {
    background-position: right 380px;
  }
}
@media screen and (min-width: 403px) {
  .about__wrap {
    background-position: right 357px;
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .about__wrap {
    background-image: url(../images/about/milk-bg-mob@2.png);
  }
}
@media screen and (min-width: 768px) {
  .about__wrap {
    display: flex;
    flex-direction: row;
    background-image: none;
  }
}

.about__column img {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) and (max-width: 1199.9px) {
  .about__column img {
    min-width: 336px;
  }
}
@media screen and (min-width: 1200px) {
  .about__column img {
    min-width: 501px;
  }
}

.about__column--first {
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) and (max-width: 1199.9px) {
  .about__column--first {
    margin-right: 32px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .about__column--first {
    margin-right: 99px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 767.9px) {
  .about__column--second {
    padding-right: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .about__column--second {
    padding-top: 90px;
    padding-right: 105px;
  }
}

.about__paragraph {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
  font-family: var(--font-main);
}
@media screen and (min-width: 768px) {
  .about__paragraph {
    font-size: 14px;
    line-height: 1.76;
  }
}

.about__paragraph--first {
  color: var(--text-color-main);
  margin-bottom: 32px;
}
@media screen and (min-width: 1200px) {
  .about__paragraph--first {
    font-size: 16px;
  }
}

.about__paragraph--second {
  color: var(--text-color-accent);
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .about__paragraph--second {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .about__paragraph--second {
    line-height: 1.94;
  }
}

.about__ending {
  display: block;
  margin-top: 15px;
}

.about__button {
  position: relative;
  display: flex;
  align-items: center;
  background-color: var(--text-color-light);
  padding: 14px 37px;
  min-width: 176px;
  height: 44px;
  font-family: var(--font-main);
  color: var(--primary-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
  border: 0;
  border-radius: 22px;
  text-align: left;
  cursor: pointer;
}
.about__button:hover, .about__button:focus {
  background-color: var(--btn-accent-color);
}
@media screen and (min-width: 768px) {
  .about__button {
    font-size: 16px;
    line-height: 1.31;
  }
}
.about__button .about__icon {
  position: absolute;
  top: 17.2px;
  left: 132px;
  stroke: var(--primary-color);
}
@media screen and (min-width: 768px) {
  .about__button .about__icon {
    top: 18.5px;
  }
}

.advantages {
  background-color: var(--bg-color-light);
}
@media screen and (min-width: 768px) {
  .advantages__list {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__list {
    flex-direction: row;
    gap: var(--gutter);
  }
}
@media screen and (min-width: 1200px) {
  .advantages__item {
    width: calc((100% - 64px) / 3);
  }
}
@media screen and (min-width: 320px) and (max-width: 767.9px) {
  .advantages__item:not(:last-child) {
    margin-bottom: var(--gutter);
  }
}
.advantages__icon {
  margin-bottom: 16px;
}
.advantages__amount {
  margin-bottom: 4px;
  font-family: var(--font-accent);
  text-transform: lowercase;
  color: var(--primary-color);
  font-weight: 400;
  font-size: 36;
  line-height: 1.14;
  letter-spacing: 0.04em;
}
.advantages__amount::before {
  content: "";
  display: block;
  margin-bottom: 16px;
  width: 100%;
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  .advantages__amount::before {
    margin-bottom: 36px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__amount::before {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.9px) {
  .advantages__amount {
    margin-bottom: 13px;
    font-size: 48px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__amount {
    margin-bottom: 16px;
    font-size: 58px;
  }
}
.advantages__item:nth-child(1) .advantages__amount::before {
  height: 50px;
  background-image: url("../images/advantages-svg/milk.svg");
}
.advantages__item:nth-child(2) .advantages__amount::before {
  height: 50px;
  background-image: url("../images/advantages-svg/apples.svg");
}
.advantages__item:nth-child(3) .advantages__amount::before {
  height: 50px;
  background-image: url("../images/advantages-svg/heart.svg");
}
.advantages__text {
  width: 230px;
  padding-right: 15px;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 12;
  line-height: 1.7;
}
@media screen and (min-width: 768px) and (max-width: 1199.9px) {
  .advantages__text {
    width: 180px;
    font-size: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__text {
    width: 305px;
    font-size: 16px;
  }
}

.gallery {
  background-image: linear-gradient(to bottom, var(--bg-color-light) 20%, #ffffff 20%);
}
@media screen and (min-width: 768px) {
  .gallery {
    background-image: linear-gradient(to bottom, var(--bg-color-light) 58%, #ffffff 58%);
  }
}
@media screen and (min-width: 1200px) {
  .gallery {
    padding: var(--section-padding) 0;
    background-image: linear-gradient(to bottom, var(--bg-color-light) 27%, #ffffff 27%);
  }
}
.gallery__grid {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr) 2fr repeat(3, 1fr);
}
@media screen and (min-width: 320px) and (max-width: 767.9px) {
  .gallery__grid {
    max-width: 320px;
    gap: 2.5px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.9px) {
  .gallery__grid {
    max-width: 768px;
    gap: 6px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery__grid {
    max-width: 1013px;
    gap: 8px;
  }
}
.gallery__item {
  display: grid;
}
@media screen and (min-width: 320px) and (max-width: 767.9px) {
  .gallery__item {
    gap: 2.5px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.9px) {
  .gallery__item {
    gap: 6px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery__item {
    gap: 8px;
  }
}
.gallery__item:nth-child(1) {
  grid-template-rows: 42.5px auto auto 1fr;
}
@media screen and (min-width: 768px) and (max-width: 1199.9px) {
  .gallery__item:nth-child(1) {
    grid-template-rows: 103px auto auto 1fr;
    grid-template-rows: 103px auto auto 1fr;
  }
}
@media screen and (min-width: 1200px) {
  .gallery__item:nth-child(1) {
    grid-template-rows: 134px auto auto 1fr;
    grid-template-rows: 134px auto auto 1fr;
  }
}
.gallery__item:nth-child(2) {
  grid-template-rows: 25.5px auto auto 1fr;
}
@media screen and (min-width: 768px) and (max-width: 1199.9px) {
  .gallery__item:nth-child(2) {
    grid-template-rows: 62px auto auto 1fr;
    grid-template-rows: 62px auto auto 1fr;
  }
}
@media screen and (min-width: 1200px) {
  .gallery__item:nth-child(2) {
    grid-template-rows: 81px auto auto 1fr;
    grid-template-rows: 81px auto auto 1fr;
  }
}
.gallery__item:nth-child(4) {
  grid-template-rows: 28.5px auto auto 1fr;
}
@media screen and (min-width: 768px) and (max-width: 1199.9px) {
  .gallery__item:nth-child(4) {
    grid-template-rows: 69px auto auto 1fr;
    grid-template-rows: 69px auto auto 1fr;
  }
}
@media screen and (min-width: 1200px) {
  .gallery__item:nth-child(4) {
    grid-template-rows: 91px auto auto 1fr;
    grid-template-rows: 91px auto auto 1fr;
  }
}
.gallery__item:nth-child(5) {
  grid-template-rows: 18.5px auto auto 1fr;
}
@media screen and (min-width: 768px) and (max-width: 1199.9px) {
  .gallery__item:nth-child(5) {
    grid-template-rows: 45px auto auto 1fr;
    grid-template-rows: 45px auto auto 1fr;
  }
}
@media screen and (min-width: 1200px) {
  .gallery__item:nth-child(5) {
    grid-template-rows: 58px auto auto 1fr;
    grid-template-rows: 58px auto auto 1fr;
  }
}
.gallery__item:nth-child(6) {
  grid-template-rows: 47.5px auto auto 1fr;
}
@media screen and (min-width: 768px) and (max-width: 1199.9px) {
  .gallery__item:nth-child(6) {
    grid-template-rows: 112px auto auto 1fr;
    grid-template-rows: 112px auto auto 1fr;
  }
}
@media screen and (min-width: 1200px) {
  .gallery__item:nth-child(6) {
    grid-template-rows: 147px auto auto 1fr;
    grid-template-rows: 147px auto auto 1fr;
  }
}
.gallery__img {
  transition: transform var(--transition-prop);
}
@media screen and (min-width: 320px) and (max-width: 767.9px) {
  .gallery__img img {
    border-radius: 8px;
  }
}
@media screen and (min-width: 768px) {
  .gallery__img img {
    border-radius: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery__img:hover {
    transform: scale(115%);
    z-index: 10;
  }
}

.reviews {
  padding-top: var(--section-padding);
}

@media screen and (min-width: 768px) {
  .reviews .container {
    padding-left: 74px;
    padding-right: 74px;
  }
}
@media screen and (min-width: 1200px) {
  .reviews .container {
    padding-left: 116px;
    padding-right: 116px;
  }
}

.reviews__img {
  height: 85px;
  border-radius: 44px;
  margin: 0 auto 32px auto;
}
@media screen and (min-width: 768px) {
  .reviews__img {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .reviews__img {
    margin-bottom: 16px;
  }
}

.reviews__bg {
  padding: 43px 50px 17px;
  position: relative;
  z-index: -2;
  background-color: #fafafa;
}
@media screen and (min-width: 768px) and (max-width: 1199.9px) {
  .reviews__bg {
    padding: 20px 6px 36px;
  }
}
@media screen and (min-width: 1200px) {
  .reviews__bg {
    padding: 47px 74px 32px 72px;
  }
}
.reviews__bg::after {
  content: ". . .";
  display: block;
  position: absolute;
  font-size: 40px;
  color: #c7133e;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (min-width: 768px) and (max-width: 1199.9px) {
  .reviews__bg::after {
    bottom: -20px;
  }
}
@media screen and (min-width: 1200px) {
  .reviews__bg::after {
    bottom: -36px;
  }
}

.reviews__bg-line {
  padding: 0 8px 0 15px;
  background-image: repeating-linear-gradient(transparent, transparent 29.6px, #e1e1e1 29.6px, #e1e1e1 30.6px);
}
@media screen and (min-width: 768px) and (max-width: 1199.9px) {
  .reviews__bg-line {
    padding: 0 49px 0 45px;
    background-image: repeating-linear-gradient(transparent, transparent 29.1px, #e1e1e1 29.1px, #e1e1e1 30.1px);
  }
}
@media screen and (min-width: 1200px) {
  .reviews__bg-line {
    background-image: repeating-linear-gradient(transparent, transparent 28.76px, #e1e1e1 28.76px, #e1e1e1 29.76px);
  }
}

.reviews__text {
  display: block;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.55;
  letter-spacing: 0;
  text-align: center;
  color: var(--text-color-main);
}
@media screen and (min-width: 768px) {
  .reviews__text {
    padding: 0;
    width: 514px;
    font-size: 14px;
    line-height: 2.16;
  }
}
@media screen and (min-width: 1200px) {
  .reviews__text {
    width: 750px;
    font-size: 16px;
    line-height: 1.86;
  }
}
.reviews__text::before {
  content: "";
  position: absolute;
  z-index: -1;
  display: block;
  left: -12px;
  top: -12px;
  background-repeat: no-repeat;
  background-position: center;
  width: 54px;
  height: 40px;
  background-image: url(../images/reviews/quotes.png);
}
@media screen and (min-width: 768px) and (max-width: 1199.9px) {
  .reviews__text::before {
    left: -45px;
    top: -17px;
    width: 60.35px;
  }
}
@media screen and (min-width: 1200px) {
  .reviews__text::before {
    left: -37px;
    top: -15px;
    width: 54px;
  }
}

.reviews__name {
  margin-top: 36px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0;
  text-align: center;
  color: var(--text-color-main);
}
@media screen and (min-width: 768px) and (max-width: 1199.9px) {
  .reviews__name {
    margin-top: 24px;
    font-size: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .reviews__name {
    margin-top: 36px;
    font-size: 20px;
  }
}

.reviews__list {
  display: flex;
  justify-content: center;
  gap: 18px;
}

.reviews__nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}
@media screen and (min-width: 768px) and (max-width: 1199.9px) {
  .reviews__nav-list {
    margin-top: 32px;
  }
}

.reviews__nav-item:not(:last-child) {
  margin-right: 18px;
}

.reviews_btn {
  width: 12px;
  height: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 0;
  background: #d9d9d9;
  transition: transform var(--transition-prop), background-image var(--transition-prop);
}
.reviews_btn:focus, .reviews_btn:hover {
  transform: scale(1.3);
}

.reviews_btn .about__icon {
  fill: var(--primary-color);
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
  align-items: flex-start;
}

.slick-dots {
  display: flex;
  align-items: top;
  justify-content: center;
  margin-top: 8px;
}
@media screen and (min-width: 768px) {
  .slick-dots {
    margin-top: 24px;
  }
}

.slick-dots li {
  margin: 0 9px;
}

.slick-dots button {
  font-size: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #d9d9d9;
  border: 0;
}

.slick-dots button:hover {
  cursor: pointer;
}

li.slick-active button {
  font-size: 0;
  border-radius: 0;
  background-color: #fff;
  border: 0;
  width: 12.4px;
  height: 11.84px;
  background-image: url("../images/reviews/carousel-home.svg");
  background-repeat: no-repeat;
  background-position: left top;
}

li.slick-active button:hover {
  cursor: pointer;
}

@media screen and (min-width: 768px) and (max-width: 1199.9px) {
  .contacts .container {
    padding-left: calc(var(--gutter) / 2);
    padding-right: calc(var(--gutter) / 2);
  }
}

.contacts {
  padding-top: var(--section-padding);
  background-image: linear-gradient(to bottom, #ffffff 24%, var(--bg-color-light) 24%);
}
@media screen and (min-width: 768px) and (max-width: 1199.9px) {
  .contacts {
    background-image: linear-gradient(to bottom, #ffffff 51%, var(--bg-color-light) 51%);
    padding-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    background-image: linear-gradient(to bottom, #ffffff 24%, var(--bg-color-light) 24%);
    padding-bottom: 60px;
  }
}

.contacts__list {
  width: 100%;
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .contacts__list {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gutter);
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__list {
    justify-content: center;
  }
}

.contacts__card {
  padding: 40px 32px;
  background: var(--text-color-light);
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
}
@media screen and (min-width: 320px) and (max-width: 767.9px) {
  .contacts__card {
    min-width: 280px;
  }
}
@media screen and (min-width: 768px) {
  .contacts__card {
    width: calc((100% - var(--gutter) * 2) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .contacts__card {
    padding: 40px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767.9px) {
  .contacts__card:not(:last-child) {
    margin-bottom: 20px;
  }
}

.contacts__paragraph {
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .contacts__paragraph {
    max-width: 224px;
    margin-bottom: 32px;
  }
}

.contacts__category {
  display: inline-block;
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;
  text-align: center;
  border-radius: 4px;
  color: var(--text-color-light);
}
@media screen and (min-width: 768px) {
  .contacts__category {
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 32px;
    font-size: var(--font-size);
  }
}

.contacts__category--cafe {
  background-color: var(--product-color-second);
}

.contacts__category--foodtruck {
  background-color: var(--product-color-third);
}

.contacts__address {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;
}
@media screen and (min-width: 768px) and (max-width: 1199.9px) {
  .contacts__address {
    margin-bottom: 12px;
    font-size: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__address {
    margin-bottom: 8px;
    font-size: var(--font-size);
  }
}

.contacts__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--text-color-accent);
}
@media screen and (min-width: 768px) and (max-width: 1199.9px) {
  .contacts__text {
    font-size: 14px;
    line-height: 1.66;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__text {
    font-size: var(--font-size);
    line-height: 1.83;
  }
}

.contacts__timetable {
  padding-top: 24px;
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
}
@media screen and (min-width: 768px) {
  .contacts__timetable {
    padding-top: 32px;
    padding-bottom: 32px;
    margin-bottom: 32px;
  }
}

.contacts__day {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;
}
@media screen and (min-width: 768px) and (max-width: 1199.9px) {
  .contacts__day {
    font-size: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__day {
    font-size: var(--font-size);
  }
}

.contacts__time {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;
  color: var(--accent-color);
}
@media screen and (min-width: 768px) and (max-width: 1199.9px) {
  .contacts__time {
    font-size: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__time {
    font-size: var(--font-size);
  }
}

.contacts__time:not(:last-child) {
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .contacts__time:not(:last-child) {
    margin-bottom: 12px;
  }
}

.contacts__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--text-color-accent);
}
@media screen and (min-width: 768px) and (max-width: 1199.9px) {
  .contacts__link {
    font-size: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__link {
    font-size: var(--font-size);
  }
}

.contacts__btn-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
@media screen and (min-width: 768px) {
  .contacts__btn-list {
    flex-direction: row;
    justify-content: center;
    gap: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__btn-list {
    gap: 12px;
  }
}

.contacts__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 161px;
  max-height: 44px;
  padding: 12px;
  border-style: none;
  border-radius: 22px;
  cursor: pointer;
  font-weight: 500;
  font-size: var(--font-size);
  line-height: 1.21;
  letter-spacing: 0.04em;
  color: var(--btn-primary-color);
  background-color: var(--text-color-light);
  transition: background-color var(--transition-prop);
}
@media screen and (min-width: 768px) and (max-width: 1199.9px) {
  .contacts__btn {
    min-width: 191px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__btn {
    min-width: 198px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.9px) {
  .contacts__btn--width {
    min-width: 174px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__btn--width {
    min-width: 168px;
  }
}

.contacts__btn-text {
  display: inline-block;
  margin-bottom: 3px;
}

.contacts__btn-icon {
  stroke: var(--btn-primary-color);
  transition: background-color var(--transition-prop);
}

.contacts__btn-icon {
  margin-left: 8px;
}

.contacts__btn:hover {
  color: var(--text-color-light);
  background-color: var(--btn-primary-color);
}

.contacts__btn:hover .contacts__btn-icon {
  stroke: var(--text-color-light);
}

.footer {
  background-color: var(--bg-color-light);
  padding-top: 40px;
}
@media screen and (min-width: 1200px) {
  .footer {
    padding-top: var(--section-padding);
  }
}

.footer .container {
  background-color: var(--bg-color-light);
  padding-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .footer .container {
    display: flex;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .footer .container {
    padding-bottom: 60px;
  }
}

.footer__slogan {
  max-width: 234px;
}
@media screen and (min-width: 768px) {
  .footer__slogan {
    max-width: 340px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__slogan {
    max-width: 477px;
  }
}

.footer__slogan-subtitle {
  font-family: var(--font-accent);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  color: var(--accent-color);
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .footer__slogan-subtitle {
    font-size: 26px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    margin-bottom: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__slogan-subtitle {
    font-size: 30px;
    line-height: 1.13;
  }
}

.footer__slogan-title {
  font-family: var(--font-accent);
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--primary-color);
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .footer__slogan-title {
    font-size: 48px;
    margin-bottom: 0;
    letter-spacing: 0.06em;
    color: var(--primary-color);
  }
}
@media screen and (min-width: 1200px) {
  .footer__slogan-title {
    font-size: 58px;
    line-height: 1.14;
  }
}

@media screen and (min-width: 768px) {
  .footer__contacts {
    margin-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__contacts {
    margin-top: 12px;
  }
}

.footer__socials {
  display: flex;
  justify-content: end;
  gap: 28px;
}

.footer__soc-item {
  width: 32px;
  height: 32px;
}
@media screen and (min-width: 768px) {
  .footer__soc-item {
    width: 34px;
    height: 34px;
  }
}

.footer__soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--icon-bg-color);
  color: #ffffff;
  transition: background-color var(--transition-prop);
}
.footer__soc-link:hover, .footer__soc-link:focus {
  background-color: var(--primary-color);
}

.footer__soc-icon {
  fill: currentColor;
}

.footer__phone-text {
  font-family: var(--font-main);
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.86;
}
@media screen and (min-width: 768px) {
  .footer__phone-text {
    font-size: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__phone-text {
    font-size: 16px;
    letter-spacing: 0.02em;
  }
}

.footer__phone-number {
  font-family: var(--font-main);
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.86;
  color: var(--primary-color);
}
@media screen and (min-width: 768px) {
  .footer__phone-number {
    font-size: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__phone-number {
    font-size: 16px;
    letter-spacing: 0.02em;
  }
}

.footer__phone {
  text-align: right;
  margin-top: 40px;
}

.footer__copyright {
  display: block;
  padding-top: 16px;
  padding-bottom: 3px;
  background-color: var(--bg-color-light);
  border-top: 1px solid #e1e1e1;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  text-align: center;
  color: var(--text-color-accent);
}
@media screen and (min-width: 768px) {
  .footer__copyright {
    display: flex;
    line-height: 1.86;
    padding-top: 8px;
    padding-bottom: 8px;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .footer__copyright {
    padding-top: 7px;
    padding-bottom: 4px;
  }
}

.aboutmodal__backdrop {
  position: fixed;
  z-index: 101;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 245, 246, 0.7);
  transition: opacity var(--transition-prop), visibility var(--transition-prop);
}
.aboutmodal__backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.aboutmodal {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 87%;
  max-height: 90%;
  background-color: var(--text-color-light);
  padding: 20px;
  overflow: hidden;
  box-shadow: var(--card-shadow);
  border-radius: 24px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--transition-prop);
}
.is-hidden .aboutmodal {
  transform: translate(-50%, -50%) scale(0);
}
@media screen and (min-width: 500px) {
  .aboutmodal {
    width: 430px;
  }
}
@media screen and (min-width: 768px) {
  .aboutmodal {
    width: 75%;
  }
}
@media screen and (min-width: 1200px) {
  .aboutmodal {
    padding: 32px;
    width: 650px;
    max-height: 480px;
  }
}

.aboutmodal__close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
  background-color: var(--text-color-light);
  cursor: pointer;
  padding: 0;
  transition: background-color var(--transition-prop), color var(--transition-prop);
}
.aboutmodal__close:hover {
  background-color: var(--btn-accent-color);
  color: var(--primary-color);
}

.aboutmodal__close-icon {
  stroke: currentColor;
}

.aboutmodal__title {
  margin-bottom: 15px;
  font-family: var(--font-accent);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--accent-color);
  text-align: left;
}
@media screen and (min-width: 768px) {
  .aboutmodal__title {
    font-size: 26px;
    line-height: 1.15;
  }
}
@media screen and (min-width: 1200px) {
  .aboutmodal__title {
    font-size: 30px;
    line-height: 1.13;
  }
}

.aboutmodal__text {
  font-family: var(--font-main);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
  letter-spacing: 0;
  color: var(--text-color-accent);
  text-align: justify;
  text-indent: 20px;
}
@media screen and (min-width: 768px) {
  .aboutmodal__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.76;
    letter-spacing: 0.04em;
  }
}
@media screen and (min-width: 1200px) {
  .aboutmodal__text {
    line-height: 1.94;
  }
}

.aboutmodal__img {
  bottom: 5;
  margin-left: calc(50% - 80px);
}/*# sourceMappingURL=index.css.map */