@import "~node_modules/modern-normalize/modern-normalize.css";
:root {
  --font-main: "DM Sans", sans-serif;
  --font-accent: "Titan One", cursive;
  --font-size: 16px;
  --text-color-main: #000;
  --text-color-accent: #907e82;
  --text-color-light: #ffffff;
  --primary-color: #d41443;
  --accent-color: #ffa5ba;
  --btn-primary-color: #d41342;
  --btn-accent-color: #ecebeb;
  --bg-color: #ffb8ca;
  --bg-color-light: #fff5f6;
  --product-color-first: #ffb8ca;
  --product-color-second: #f0d1a5;
  --product-color-third: #c2e297;
  --card-shadow: 0 8px 30px rgba(212, 20, 67, 0.1);
  --gutter: 32px;
  --gutter-mob: 20px;
  --section-padding: 60px;
  --transition-prop: 0.25s ease;
}

html {
  font-family: var(--font-main);
  font-size: var(--font-size);
  color: var(--text-color-main);
}

body.modal-open {
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visual-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .container {
    max-width: 480px;
    padding-left: var(--gutter-mob);
    padding-right: var(--gutter-mob);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    width: 768px;
    padding-left: var(--gutter);
    padding-right: var(--gutter);
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-left: calc(var(--gutter) / 2);
    padding-right: calc(var(--gutter) / 2);
  }
}

.hero {
  padding-top: 194px;
  padding-left: 20px;
  margin: 0 auto;
  height: 502px;
  background-color: var(--product-color-first);
}
@media screen and (min-width: 768px) {
  .hero {
    height: 416px;
    padding-top: 102px;
    padding-left: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    height: 664px;
    padding-top: 135px;
    padding-left: 8px;
  }
}

.hero__title {
  width: 218px;
  font-family: var(--font-accent);
  font-weight: 400;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.hero__title--white {
  font-size: 26px;
  line-height: 1.15;
  color: var(--text-color-light);
}
.hero__title--pink {
  font-size: 48px;
  line-height: 0.97;
  color: var(--primary-color);
}
@media screen and (min-width: 768px) {
  .hero__title {
    width: 162px;
    margin-bottom: 32px;
  }
  .hero__title--white {
    font-size: 22px;
    line-height: 1.14;
  }
  .hero__title--pink {
    font-size: 34px;
    line-height: 0.91;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    width: 277px;
    margin-bottom: 24px;
  }
  .hero__title--white {
    font-size: 38px;
    line-height: 1.16;
  }
  .hero__title--pink {
    font-size: 58px;
  }
}

.hero__list {
  display: flex;
  gap: 8px;
}

.hero__link {
  border-radius: 20px;
  border: none;
  height: 24px;
  padding-left: 14px;
  padding-right: 14px;
  font-family: var(--font-main);
  font-size: 8px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero__link--pink {
  color: var(--text-color-light);
  background-color: var(--primary-color);
}
.hero__link--white {
  color: var(--primary-color);
  background-color: var(--text-color-light);
}
.hero__link--white:hover, .hero__link--white:focus {
  background-color: var(--btn-accent-color);
}
@media screen and (min-width: 1200px) {
  .hero__link {
    height: 40px;
    font-size: 14px;
    line-height: 1.29;
  }
}/*# sourceMappingURL=index.css.map */