<!-- About -->
<section class="about" id="about">
  <div class="container">
    <p class="section__subtitle">tradition and love</p>
    <h2 class="section__title about__title">how it’s made?</h2>

    <div class="about__wrap">
      <div class="about__column about__column--first">
        <picture>
          <source
            type="image/png"
            srcset="
              ./images/about/cow-desk-peach.png   1x,
              ./images/about/cow-desk-peach@2.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            type="image/png"
            srcset="
              ./images/about/cow-tab-peach.png   1x,
              ./images/about/cow-tab-peach@2.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            type="image/png"
            srcset="
              ./images/about/cow-mob-peach.png   1x,
              ./images/about/cow-mob-peach@2.png 2x
            "
            media="(min-width: 320px)"
          />
          <img
            class="about__img--coffee"
            src="./images/about/cow-mob-peach.png"
            alt="cow with the pitcher of milk"
          />
        </picture>
        <picture>
          <source
            type="image/png"
            srcset="
              ./images/about/cow-desk-lime.png   1x,
              ./images/about/cow-desk-lime@2.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            type="image/png"
            srcset="
              ./images/about/cow-tab-lime.png   1x,
              ./images/about/cow-tab-lime@2.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            type="image/png"
            srcset="
              ./images/about/cow-mob-lime.png   1x,
              ./images/about/cow-mob-lime@2.png 2x
            "
            media="(min-width: 320px)"
          />
          <img
            class="about__img--green"
            src="./images/about/cow-mob-lime.png"
            alt="cow with the pitcher of milk"
          />
        </picture>
        <picture>
          <source
            type="image/png"
            srcset="
              ./images/about/cow-desk.png   1x,
              ./images/about/cow-desk@2.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            type="image/png"
            srcset="
              ./images/about/cow-tab.png   1x,
              ./images/about/cow-tab@2.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            type="image/png"
            srcset="
              ./images/about/cow-mob.png   1x,
              ./images/about/cow-mob@2.png 2x
            "
            media="(min-width: 320px)"
          />
          <img
            class="about__img--pink"
            src="./images/about/cow-mob.png"
            alt="cow with the pitcher of milk"
          />
        </picture>
      </div>

      <div class="about__column about__column--second">
        <p class="about__paragraph about__paragraph--first">
          Ice cream is a sweetened frozen food usually made from milk or cream
          and is flavoured with a sweetener, a spice, such as cocoa or vanilla,
          or with fruit.
        </p>
        <p class="about__paragraph about__paragraph--second">
          Milk is a nutrient-rich liquid food produced by the mammary glands of
          mammals. It is the primary source of nutrition for young mammals
          (including breastfed human infants) before they are able to digest
          solid food.<span class="about__ending">
            Immune factors and immune-modulating components...</span
          >
        </p>
        <button
          class="btn btn--reverse btn--with-icon btn--wide"
          type="button"
          data-aboutmodal-open
        >
          Read more
          <svg class="btn__icon btn__icon--right" width="6" height="11">
            <use href="./images/icons-sprite.svg#icon-arrow-right-btn"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
