<div class="aboutmodal__backdrop is-hidden" data-aboutmodal>
  <div class="aboutmodal">
    <button type="button" class="aboutmodal__close" data-aboutmodal-close>
      <svg class="aboutmodal__close-icon" width="15" height="15">
        <use href="./images/icons-sprite.svg#icon-menu-cross"></use>
      </svg>
    </button>
    <p class="aboutmodal__title">Milk</p>
    <p class="aboutmodal__text">
      Milk is a nutrient-rich liquid food produced by the mammary glands of
      mammals. It is the primary source of nutrition for young mammals
      (including breastfed human infants) before they are able to digest solid
      food. Immune factors and immune-modulating components in milk contribute
      to milk immunity. Early-lactation milk, which is called colostrum,
      contains antibodies that strengthen the immune system, and thus reduces
      the risk of many diseases. Milk contains many nutrients, including protein
      and lactose.
    </p>
    <p class="aboutmodal__text">
      The US CDC recommends that children over the age of 12 months should have
      two servings of dairy milk products a day. <br />
      © Wikipedia
    </p>
    <img
      class="aboutmodal__img"
      src="./images/about/milk-300x219.png"
      alt="a glass of milk"
      width="170"
    />
  </div>
</div>
