<!-- Advantages -->
<section class="advantages" id="advantages">
  <div class="container">
    <h2 class="visual-hidden">Advantages</h2>
    <ul class="advantages__list">
      <li class="advantages__item">
        <p class="advantages__amount">721</p>
        <p class="advantages__text">
          milk buckets leave their homes to reach our stores every week
        </p>
      </li>
      <li class="advantages__item">
        <p class="advantages__amount">16KG</p>
        <p class="advantages__text">
          of fruit are used for preparation per day
        </p>
      </li>
      <li class="advantages__item">
        <p class="advantages__amount">84</p>
        <p class="advantages__text">
          hearts become happier every hour
        </p>
      </li>
    </ul>
  </div>
</section>
