
<div class="buy-backdrop" data-buy>
    <div class="buy-modal">
      <button type="button" class="buy-modal__button-close" data-buy-close>
        <svg class="buy-modal__icon-close" width="15" height="15">
          <use href="./images/icons-sprite.svg#icon-menu-cross"></use>
        </svg>
      </button>
      <p class="buy-modal__title">Passion delivery</p>
      <p class="buy-modal__text">Let's try...</p>
      <div class="thumb">
      <div class="checkbox-wrapper">
        <label for="ice-cream" class="ice-cream">Ice cream</label>
            <input type="checkbox" id="ice-cream" name="ice-cream" class="modal-checkbox visually-hidden">
      </div>
      <div class="checkbox-wrapper">
       
        <label for="ice-coffee" class="ice-coffee">
          Ice coffee</label>
            <input type="checkbox" id="ice-coffee" name="ice-coffee" class="modal-checkbox visually-hidden">
      </div>
      <div class="checkbox-wrapper">
        <label for="milkshake" class="milkshake">
          Milkshake</label>
            <input type="checkbox" id="milkshake" name="privacy" class="modal-checkbox visually-hidden">
      </div></div>
      <div class="buy-modal-wrapper">
        <label for="user-name" class="buy-modal__label">Name</label>
        <input type="text" id="user-name" name="user-name" class="buy-modal__input" required>
        <label for="user-tel" class="buy-modal__label">Tel.</label>
        <input type="tel" id="user-tel" name="user-tel" class="buy-modal__input" required>
      
      </div>
  
      <div class="modal-textarea__wrapper">
        <label for="user-comment" class="buy-modal__label">Details</label>
      <textarea name="comment" id="user-comment" class="buy-modal__textarea"></textarea>
      </div>
      <button type="submit" class="buy-modal__button">I want this!</button>
    </div>
  </div>