<div class="modal-backdrop is-hidden" data-frmodal>
  <div class="modal">
    <button type="button" class="modal__close-btn" data-frmodal-close>
      <svg class="modal__close-icon" width="12" height="12">
        <use href="./images/icons-sprite.svg#icon-menu-cross"></use>
      </svg>
    </button>
    <p class="modal__title modal__title--franchise">
      Do you want our ice franchise ?<br />Take a submit !
    </p>
    <form class="modal__fr-form" autocomplete="off">
      <div class="modal__fr-field">
        <div class="modal__fr-inputWrap">
          <input
            type="text"
            class="modal__fr-input"
            name="user-name"
            id="user-name"
            placeholder=" "
            required
          />
          <label for="user-name" class="modal__fr-label">Name:</label>
        </div>
      </div>
      <div class="modal__fr-field">
        <div class="modal__fr-inputWrap">
          <input
            type="tel"
            class="modal__fr-input"
            name="user-tel"
            id="user-tel"
            placeholder=" "
            required
          />
          <label for="user-tel" class="modal__fr-label">Tel:</label>
        </div>
      </div>
      <div class="modal__fr-field">
        <div class="modal__fr-inputWrap">
          <input
            type="email"
            class="modal__fr-input"
            name="user-mail"
            id="user-mail"
            placeholder=" "
            required
          />
          <label for="user-mail" class="modal__fr-label">E-mail:</label>
        </div>
      </div>

      <button type="submit" class="btn btn--centered">Submit</button>
    </form>
  </div>
</div>

<div class="modal-backdrop is-hidden" data-locmodal>
  <div class="modal">
    <button type="button" class="modal__close-btn" data-locmodal-close>
      <svg class="modal__close-icon" width="12" height="12">
        <use href="./images/icons-sprite.svg#icon-menu-cross"></use>
      </svg>
    </button>
    <p class="modal__title">Oh, wait! The map is frozen and doesn't open...</p>
    <div class="modal__loc-container">
      <div class="modal__loc-icecream">
        <div class="modal__loc-flavor">
          <div class="modal__loc-flavours"></div>
        </div>
        <div class="modal__loc-stick"></div>
      </div>
    </div>
  </div>
</div>
