<!-- Header + navigation -->
<header class="header">
    <div class="container">
        <div class="header__wrapper">
            <a href="/">
                <svg class="logo" width="199" height="50">
                    <use href="./images/icons-sprite.svg#icon-logo" ></use>
                </svg>
            </a>
            <button type="button" class="header__open-btn">
                <svg class="header__icon-btn" width="20" height="12">
                    <use href="./images/icons-sprite.svg#icon-burger" ></use>
                </svg>
            </button>
        </div>
        <div class="menu is-hidden">
            <div class="mobile-container">
                <button type="button" class="menu__close-btn">
                    <svg class="menu__close-icon" width="14" height="14">
                        <use href="./images/icons-sprite.svg#icon-arrow-right"></use>
                    </svg>
                </button>
                <button type="button" class="buy__btn">
                    Buy now 
                    <svg class="buy__btn-arrow" width="5" height="8">
                        <use href="./images/icons-sprite.svg#icon-arrow-right-btn"></use>
                    </svg>
                </button>
                <ul class="nav list">
                    <li class="nav__item">
                        <a href="#header-hero" class="nav__link">Home</a>
                    </li>
                    <li class="nav__item">
                        <a href="#advantages" class="nav__link">About us</a>
                    </li>
                    <li class="nav__item">
                        <a href="#about" class="nav__link">How it’s made?</a>
                    </li>
                    <li class="nav__item">
                        <a href="#products" class="nav__link">Our products</a>
                    </li>
                    <li class="nav__item">
                        <a href="#contacts" class="nav__link">Contact</a>
                    </li>

                </ul>

            </div>
        </div>
    </div>
</header>