<!-- Header + navigation -->
<header class="header" id="header">
  <div class="container">
    <div class="header-wrapper">
      <a href="./index.html" aria-label="site logo">
        <svg class="logo" width="199" height="50">
          <use href="./images/icons-sprite.svg#icon-logo"></use>
        </svg>
      </a>
      <button type="button" class="header__btn-open">
        <svg class="header__icon-btn" width="21" height="12">
          <use href="./images/icons-sprite.svg#icon-burger"></use>
        </svg>
      </button>
      <nav class="desktop-nav" id="nav">
        <ul class="desktop-nav__list">
          <li class="desktop-nav__item">
            <a href="#hero" data-scroll="#hero" class="desktop-nav__link active"
              >Home</a
            >
          </li>
          <li class="desktop-nav__item">
            <a
              href="#advantages"
              data-scroll="#advantages"
              class="desktop-nav__link"
              >About us</a
            >
          </li>
          <li class="desktop-nav__item">
            <a href="#about" data-scroll="#about" class="desktop-nav__link"
              >How it’s made?</a
            >
          </li>
          <li class="desktop-nav__item">
            <a
              href="#products"
              data-scroll="#products"
              class="desktop-nav__link"
              >Our products</a
            >
          </li>
          <li class="desktop-nav__item">
            <a
              href="#contacts"
              data-scroll="#contacts"
              class="desktop-nav__link"
              >Contact</a
            >
          </li>
        </ul>
      </nav>
      <button type="button" class="header__btn-buy" data-buy-open>
        Buy now
        <svg class="buy__btn-arrow" width="5" height="8">
          <use href="./images/icons-sprite.svg#icon-arrow-right-btn"></use>
        </svg>
      </button>
    </div>
    <nav class="menu is-hidden">
      <div class="mobile-container">
        <button type="button" class="menu__btn-close" aria-label="close button">
          <svg class="menu__close-icon" width="14" height="14">
            <use href="./images/icons-sprite.svg#icon-menu-cross"></use>
          </svg>
        </button>
        <button type="button" class="header__btn-buy--mobile">
          Buy now
          <svg class="buy__btn-arrow" width="6" height="9">
            <use href="./images/icons-sprite.svg#icon-arrow-right-btn"></use>
          </svg>
        </button>
        <ul class="nav">
          <li class="nav__item">
            <a href="#hero" data-scroll="#hero" class="nav__link">Home</a>
          </li>
          <li class="nav__item">
            <a href="#advantages" data-scroll="#advantages" class="nav__link"
              >About us</a>
          </li>
          <li class="nav__item">
            <a href="#about" data-scroll="#about" class="nav__link"
              >How it’s made?</a
            >
          </li>
          <li class="nav__item">
            <a href="#products" data-scroll="#products" class="nav__link"
              >Our products</a
            >
          </li>
          <li class="nav__item">
            <a href="#contacts" data-scroll="#contacts" class="nav__link"
              >Contact</a
            >
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>


<div class="buy-backdrop is-hidden" data-buy>
  <div class="buy-modal">
    <button type="button" class="buy-modal__button-close" data-buy-close>
      <svg class="buy-modal__icon-close" width="15" height="15">
        <use href="./images/icons-sprite.svg#icon-menu-cross"></use>
      </svg>
    </button>
    <p class="buy-modal__title">Passion delivery</p>
    <p class="buy-modal__text">Let's try...</p>
    <div class="thumb">
    <div class="checkbox-wrapper">
      <label for="ice-cream" class="ice-cream">Ice cream</label>
          <input type="checkbox" id="ice-cream" name="ice-cream" class="modal-checkbox visually-hidden">
    </div>
    <div class="checkbox-wrapper">
     
      <label for="privacy" class="ice-coffee">
        Ice coffee</label>
          <input type="checkbox" id="privacy" name="privacy" class="modal-checkbox visually-hidden">
    </div>
    <div class="checkbox-wrapper">
      <label for="milkshake" class="milkshake">
        Milkshake</label>
          <input type="checkbox" id="milkshake" name="privacy" class="modal-checkbox visually-hidden">
    </div></div>
    <div class="buy-modal-wrapper">
      <label for="user-name" class="buy-modal__label">Name</label>
      <input type="text" id="user-name" name="user-name" class="buy-modal__input" required>
      <label for="user-tel" class="buy-modal__label">Tel.</label>
      <input type="tel" id="user-tel" name="user-tel" class="buy-modal__input" required>
    
    </div>

    <div class="modal-textarea__wrapper">
      <label for="user-comment" class="buy-modal__label">Details</label>
    <textarea name="comment" id="user-comment" class="buy-modal__textarea"></textarea>
    </div>
    <button type="submit" class="buy-modal__button">I want this!</button>
  </div>
</div>