<!-- Hero -->
<section class="hero" id="hero">
  <div class="container hero__container">
    <div class="hero__main">
      <h1 class="hero__title hero__title--white">
        ice cream made with
        <span class="hero__title hero__title--pink">passion</span>
      </h1>
      <ul class="department__list">
        <li class="department__item">
          <p class="department__number">16</p>
          <p class="department__kind">cafes</p>
        </li>
        <li class="department__item">
          <p class="department__number">23</p>
          <p class="department__kind">food trucks</p>
        </li>
      </ul>
    </div>
    <ul class="hero__list">
      <li class="hero__item">
        <a
          href="#products"
          data-scroll="#products"
          class="hero__link hero__link--pink"
          >Products</a
        >
      </li>
      <li class="hero__item">
        <a
          href="#about"
          data-scroll="#about"
          class="hero__link hero__link--white"
          >How it’s made?</a
        >
      </li>
    </ul>
    <div class="hero__info">
      <p class="hero__text">
        For the production of organic ice cream, we use only organic dairy
        products of our own production, and comply with all the necessary rules.
      </p>
      <button
        type="button"
        class="hero__btn"
        aria-label="More information"
        data-green-magic
      >
        <svg class="hero__btn-icon" width="8" height="7">
          <use href="./images/icons-sprite.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
    <picture>
      <source
        srcset="
          ./images/hero/milk-desk.png   1x,
          ./images/hero/milk-desk@2.png 2x
        "
        media="(min-width:1200px)"
      />
      <source
        srcset="./images/hero/milk-tab.png 1x, ./images/hero/milk-tab@2.png 2x"
        media="(min-width:768px)"
      />
      <img
        class="hero__img--milk"
        src="./images/hero/milk-desk.png"
        alt="ice-cream"
        width="171"
      />
    </picture>

    <map class="map" name="schemes">
      <area
        class="schemes__circle--coffee"
        shape="rect"
        coords="0, 0, 236, 254"
        alt="Green magic"
        data-coffee-magic
      />
      <area
        class="schemes__circle--green"
        shape="rect"
        coords="0, 255, 236, 319"
        alt="Coffee magic"
        data-green-magic
      />
      <area
        class="schemes__circle--pink"
        shape="rect"
        coords="0, 320, 236, 405"
        alt="Pink magic"
        data-pink-magic
      />
    </map>

    <picture>
      <source
        srcset="
          ./images/hero/ice-cream-desk.png   1x,
          ./images/hero/ice-cream-desk@2.png 2x
        "
        media="(min-width:1200px)"
      />
      <source
        srcset="
          ./images/hero/ice-cream-tab.png   1x,
          ./images/hero/ice-cream-tab@2.png 2x
        "
        media="(min-width:768px)"
      />
      <source
        srcset="
          ./images/hero/ice-cream-mob.png   1x,
          ./images/hero/ice-cream-mob@2.png 2x
        "
        media="(min-width:320px)"
      />
      <img
        class="hero__img--ice-cream"
        src="./images/hero/ice-cream-mob.png"
        alt="ice-cream"
        width="171"
        usemap="#schemes"
      />
    </picture>

    <div class="hero__img--prompt">Click me!</div>

    <span class="hero__circle"></span>
    <picture>
      <source
        srcset="
          ./images/hero/girl-desk.png   1x,
          ./images/hero/girl-desk@2.png 2x
        "
        media="(min-width:1200px)"
      />
      <source
        srcset="./images/hero/girl-tab.png 1x, ./images/hero/girl-tab@2.png 2x"
        media="(min-width:768px)"
      />
      <img
        class="hero__img--girl"
        src="./images/hero/girl-desk.png"
        alt="ice-cream"
        width="171"
      />
    </picture>
  </div>
</section>
