<!-- Products -->
<section class="products" id="products">
  <div class="products-box container">
    <p class="section__subtitle">100% natural</p>
    <h2 class="section__title">products</h2>
    <ul class="products__list">
      <li class="products__item products__item--pink">
        <div class="products__item-wrapper products__item-wrapper--pink">
          <p class="products__item-title">ice cream</p>
          <p class="products__item-paragraph">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et.<span
              class="products__item-paragraph-mob"
              >dolore magna aliqua facilisis.</span
            >
          </p>
          <button class="products__btn" type="button">
            <svg class="products__btn-icon" width="13px" height="13px">
              <use href="../src/images/icons-sprite.svg#icon-arrow-right"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="products__item products__item--yellow">
        <div class="products__item-wrapper products__item-wrapper--yellow">
          <p class="products__item-title">ice coffee</p>
          <p class="products__item-paragraph">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et.<span
              class="products__item-paragraph-mob"
              >dolore magna aliqua facilisis.</span
            >
          </p>
          <button class="products__btn" type="button">
            <svg class="products__btn-icon" width="13px" height="13px">
              <use href="../src/images/icons-sprite.svg#icon-arrow-right"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="products__item products__item--green">
        <div class="products__item-wrapper products__item-wrapper--green">
          <p class="products__item-title">milkshakes</p>
          <p class="products__item-paragraph">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et.<span
              class="products__item-paragraph-mob"
              >dolore magna aliqua facilisis.</span
            >
          </p>
          <button class="products__btn" type="button">
            <svg class="products__btn-icon" width="13px" height="13px">
              <use href="../src/images/icons-sprite.svg#icon-arrow-right"></use>
            </svg>
          </button>
        </div>
      </li>
      <!-- <li class="products__item products__item--yellow">
        <div class="products__item-wrapper">
          <p class="products__item-title">ice coffee</p>
          <p class="products__item-paragraph">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et.
            <span class="products__item-paragraph-mob"
              >dolore magna aliqua facilisis.</span
            >
          </p>
          <button class="products__btn" type="button">
            <svg class="products__btn-icon" width="13px" height="13px">
              <use href="../src/images/icons-sprite.svg#icon-arrow-right"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="products__item products__item--green">
        <div class="products__item-wrapper">
          <p class="products__item-title">milkshakes</p>
          <p class="products__item-paragraph">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et.<span
              class="products__item-paragraph-mob"
              >dolore magna aliqua facilisis.</span
            >
          </p>
          <button class="products__btn" type="button">
            <svg class="products__btn-icon" width="13px" height="13px">
              <use href="../src/images/icons-sprite.svg#icon-arrow-right"></use>
            </svg>
          </button>
        </div>
      </li> -->
    </ul>
  </div>
</section>
