<!-- Products -->
<section class="products" id="products">
  <div class="container">
    <span class="products__lable">100% natural</span>
    <h2 class="products__title">products</h2>
    <ul class="products__list">
      <li class="products__item products__item-pink">
        <p class="products__item-title">ice cream</p>
        <p class="products__item-paragraph">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et.<span
            class="products__item-paragraph-mob"
            >dolore magna aliqua facilisis.</span
          >
        </p>
        <button class="products__btn" type="button">
          <svg class="products__btn-icon" width="13px" height="13px">
            <use href="../src/images/icons-sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </li>

      <li class="products__item products__item-yellow">
        <p class="products__item-title">ice coffee</p>
        <p class="products__item-paragraph">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et.
          <span class="products__item-paragraph-mob"
            >dolore magna aliqua facilisis.</span
          >
        </p>
        <button class="products__btn" type="button">
          <svg class="products__btn-icon" width="13px" height="13px">
            <use href="../src/images/icons-sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </li>
      <li class="products__item products__item-green">
        <p class="products__item-title">milkshakes</p>
        <p class="products__item-paragraph">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et.<span
            class="products__item-paragraph-mob"
            >dolore magna aliqua facilisis.</span
          >
        </p>
        <button class="products__btn" type="button">
          <svg class="products__btn-icon" width="13px" height="13px">
            <use href="../src/images/icons-sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
