<!-- Products -->
<section class="products" id="products">
  <div class="products-box container">
    <p class="section__subtitle">100% natural</p>
    <h2 class="section__title">products</h2>
    <ul class="products__list">
      <li class="products__item products__item--pink">
        <div class="products__item-wrapper products__item-wrapper--pink">
          <p class="products__item-title">ice cream</p>
          <p class="products__item-paragraph">
            It is a sweetened frozen food typically eaten as a snack or dessert.
            It may be made from milk or cream.
            <span class="products__item-paragraph-mob"
              >and is flavoured with fruit.</span
            >
          </p>
          <button class="products__btn" type="button">
            <svg class="products__btn-icon" width="13px" height="13px">
              <use href="../src/images/icons-sprite.svg#icon-arrow-right"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="products__item products__item--yellow">
        <div class="products__item-wrapper products__item-wrapper--yellow">
          <p class="products__item-title">ice coffee</p>
          <p class="products__item-paragraph">
            It is a coffee beverage served cold. It may be prepared either by
            brewing coffee normally  and then servingy.<span
              class="products__item-paragraph-mob"
            >
              it over ice or in cold milk.</span
            >
          </p>
          <button class="products__btn" type="button">
            <svg class="products__btn-icon" width="13px" height="13px">
              <use href="../src/images/icons-sprite.svg#icon-arrow-right"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="products__item products__item--green">
        <div class="products__item-wrapper products__item-wrapper--green">
          <p class="products__item-title">milkshakes</p>
          <p class="products__item-paragraph">
            It is a sweet beverage made by blending milk, ice cream, and
            flavorings or sweeteners such or whole fruit into a thick.<span
              class="products__item-paragraph-mob"
              >sweet, cold mixture.</span
            >
          </p>
          <button class="products__btn" type="button">
            <svg class="products__btn-icon" width="13px" height="13px">
              <use href="../src/images/icons-sprite.svg#icon-arrow-right"></use>
            </svg>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
