<!-- Reviews -->
<section class="reviews">
  <div class="container">
    <h2 class="section__title visual-hidden">Reviews</h2>
    <ul class="reviews__slider">
      <li class="reviews-slider__item">
        <article class="reviews__clients">
          <img
            class="reviews__img"
            src="./images/reviews/userpic1.jpg"
            alt="Client's photo"
          />
          <div class="reviews__bg">
            <div class="reviews__bg-line">
              <p class="reviews__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
                Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
          </div>
          <p class="reviews__name">Emily, Los Angeles</p>
        </article>
      </li>

      <li class="reviews-slider__item visual-hidden">
        <article class="reviews__clients">
          <img
            class="reviews__img"
            src="./images/reviews/userpic1.jpg"
            alt="Client's photo"
          />
          <div class="reviews__bg">
            <div class="reviews__bg-line">
              <p class="reviews__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
                Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
          </div>
          <p class="reviews__name">Emily, Los Angeles</p>
        </article>
      </li>

      <li class="reviews-slider__item visual-hidden">
        <article class="reviews__clients">
          <img
            class="reviews__img"
            src="./images/reviews/userpic1.jpg"
            alt="Client's photo"
          />
          <div class="reviews__bg">
            <div class="reviews__bg-line">
              <p class="reviews__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
                Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
          </div>
          <p class="reviews__name">Emily, Los Angeles</p>
        </article>
      </li>
    </ul>
    <ul class="reviews__nav-list">
      <li class="reviews__nav-item">
        <button class="reviews_btn">
          <!-- <svg class="about__icon" width="12px" height="12px">
            <use href="../src/images/icons-sprite.svg#icon-house"></use>
          </svg> -->
        </button>
      </li>
      <li class="reviews__nav-item"><button class="reviews_btn"></button></li>
      <li class="reviews__nav-item"><button class="reviews_btn"></button></li>
    </ul>
  </div>
</section>
