<!-- Reviews -->
<section class="reviews">
  <div class="container">
    <h2 class="section__title visual-hidden">Reviews</h2>
    <div class="reviews__slider">
      <div class="reviews-slider__item">
        <article class="reviews__clients">
          <img
            class="reviews__img"
            src="./images/reviews/userpic1.jpg"
            alt="Фото клиента"
            width="85"
          />
          <div class="reviews__thumb">
            <div class="reviews__line">
              <p class="reviews__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
                Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
          </div>
          <p class="reviews__name">Emily, Los Angeles</p>
        </article>
      </div>
      <div class="reviews-slider__item">
        <article class="reviews__clients">
          <img
            class="reviews__img"
            src="./images/reviews/userpic2.jpg"
            alt="Фото клиента"
            width="85"
          />
          <div class="reviews__thumb">
            <div class="reviews__line">
              <p class="reviews__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
                Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
          </div>
          <p class="reviews__name">Emily, Los Angeles</p>
        </article>
      </div>
      <div class="reviews-slider__item">
        <article class="reviews__clients">
          <img
            class="reviews__img"
            src="./images/reviews/userpic3.jpg"
            alt="Фото клиента"
            width="85"
          />
          <div class="reviews__thumb">
            <div class="reviews__line">
              <p class="reviews__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
                Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
          </div>
          <p class="reviews__name">Emily, Los Angeles</p>
        </article>
      </div>
      <!---
        <ul class="reviews__list">
          <li class="reviews__item checkbox visually-hidden">
            <svg class="reviews__icon" width="12" height="12">
              <use href="./images/icons-sprite.svg#icon-ellipse"></use>
            </svg>
          </li>
          <li class="reviews__item">
            <svg class="reviews__icon" width="12" height="12">
              <use href="./images/icons-sprite.svg#icon-ellipse"></use>
            </svg>
          </li>
          <li class="reviews__item">
            <svg class="reviews__icon" width="12" height="12">
              <use href="./images/icons-sprite.svg#icon-ellipse"></use>
            </svg>
          </li>
        </ul>
        --->
    </div>
  </div>
</section>
