<div class="modal-backdrop is-hidden" data-hero-video>
  <div class="modal modal--video">
    <button type="button" class="modal__close-btn" id="close-video-modal">
      <svg class="modal__close-icon" width="12" height="12">
        <use href="./images/icons-sprite.svg#icon-menu-cross"></use>
      </svg>
    </button>
    <iframe
      class="iframe"
      width="560"
      height="315"
      src="https://www.youtube.com/embed/SYeM_mkGS-c"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>
</div>
