<div class="video-backdrop is-hidden">
    <div class="videomodal">
      <button
        type="button"
        class="videomodal__button-close">
      <svg class="videomodal__icon-close" width="15" height="15">
        <use href="./images/icons-sprite.svg#icon-menu-cross"></use>
      </svg>
      </button>
      <iframe class="iframe" width="560" height="315" src="https://www.youtube.com/embed/SYeM_mkGS-c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>