.aboutmodal__backdrop {
  position: fixed;
  z-index: 200;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  @include centered();
  overflow: auto;
  background-color: rgba(255, 245, 246, 0.7);
  transition: opacity var(--transition-prop), visibility var(--transition-prop);
  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
}

.aboutmodal {
  padding: 20px;
  margin: auto;
  max-width: 480px;
  position: relative;

  border-radius: 24px;
  background-color: var(--text-color-light);
  box-shadow: var(--card-shadow);

  transition: transform var(--transition-prop);
  .is-hidden & {
    transform: translate(-50%, -50%) scale(0);
  }

  @include tablet() {
    max-width: 650px;
  }
  @include desktop() {
    padding: 32px;
  }
}

.aboutmodal__close-btn {
  @include centered();
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;

  border-radius: 50%;
  border: 1px solid var(--accent-color);
  background-color: var(--text-color-light);
  cursor: pointer;
  color: var(--accent-color);

  transition: background-color var(--transition-prop),
    color var(--transition-prop);

  &:hover,
  &:focus {
    background-color: var(--btn-accent-color);
    color: var(--primary-color);
  }
}

.aboutmodal__close-icon {
  stroke: currentColor;
  transition: transform var(--transition-prop);

  .aboutmodal__close-btn:hover &,
  .aboutmodal__close-btn:focus & {
    transform: rotate(-90deg);
  }
}

.aboutmodal__title {
  margin-bottom: 15px;
  font-family: var(--font-accent);
  text-transform: uppercase;
  @include font(500, 18px, 1.17, 0.04em);
  color: var(--accent-color);
  text-align: left;
  @include tablet-only() {
    font-size: 26px;
    line-height: 1.15;
  }
  @include desktop() {
    font-size: 30px;
    line-height: 1.13;
  }
}

.aboutmodal__text {
  font-family: var(--font-main);
  @include font(500, 12px, 1.62, 0);
  color: var(--text-color-accent);
  text-align: justify;
  text-indent: 20px;
  @include tablet() {
    @include font(500, 14px, 1.76, 0.03em);
  }
  @include desktop() {
    line-height: 1.94;
  }
}

.aboutmodal__img {
  margin: 5px auto 0;
}
