.about {
  padding-top: var(--section-padding);
  background-color: var(--bg-color-light);

  @include tablet() {
    padding-bottom: 0;
  }
}

.about {
  @include desktop() {
    background-image: url(../images/about/milk-bg-desk.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: right 241px;

    @media screen and (min-width: 1250px) { 
    background-position: right 220px;
    }
    @media screen and (min-width: 1400px) { 
      background-position: right 145px;
      }
    @media screen and (min-width: 1600px) { 
      background-position: right 100px;
      }   
    @media screen and (min-width: 1700px) { 
      background-position: right top;
      } 
    @include retina() {
      background-image: url(../images/about/milk-bg-desk@2.png);
    }
  }
}

.about__title {
  margin-bottom: 32px;

  @include tablet-only() {
    margin-bottom: 40px;
  }
  @include desktop() {
    margin-bottom: 60px;
  }
}

.about__wrap {
  min-width: 280px;

  background-image: url(../images/about/milk-bg-mob.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: right 395px;

  @media screen and (min-width: 330px) {
    background-position: right 380px;
  }
  @media screen and (min-width: 403px) {
    background-position: right 357px;
  }

  @include retina() {
    background-image: url(../images/about/milk-bg-mob@2.png);
  }

  @include tablet() {
    display: flex;
    flex-direction: row;
    background-image: none;
  }
}
.about__column img {
  margin: 0 auto;
  position: absolute;
}

.about__img--coffee,
.about__img--green {
  opacity: 0;
}

.about__column--first {
  margin-bottom: 40px;

  @include mobile-only() {
    min-height: 279px;
  }

  @include tablet-only() {
    min-width: 336px;
    margin-right: 32px;
    margin-bottom: 0;
  }
  @include desktop() {
    min-width: 501px;
    margin-right: 99px;
    margin-bottom: 0;
  }
}
.about__column--second {
  @include mobile-only() {
    padding-right: 60px;
  }

  @include desktop() {
    padding-top: 90px;
    padding-right: 105px;
  }
}
.about__paragraph {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
  font-family: var(--font-main);

  @include tablet() {
    font-size: 14px;
    line-height: 1.76;
  }
}

.about__paragraph--first {
  color: var(--text-color-main);
  margin-bottom: 32px;

  @include desktop() {
    font-size: 16px;
  }
}

.about__paragraph--second {
  color: var(--text-color-accent);
  margin-bottom: 20px;

  @include tablet() {
    margin-bottom: 40px;
  }
  @include desktop() {
    line-height: 1.94;
  }
}
.about__ending {
  display: block;
  margin-top: 15px;
}
.about__button {
  position: relative;
  display: flex;
  align-items: center;

  background-color: var(--text-color-light);
  padding: 14px 37px;
  min-width: 176px;
  height: 44px;

  font-family: var(--font-main);
  color: var(--primary-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
  border: 0;
  border-radius: 22px;
  text-align: left;
  cursor: pointer;

  transition: background-color var(--transition-prop);

  &:hover,
  &:focus {
    background-color: var(--btn-accent-color);
  }

  @include tablet() {
    font-size: 16px;
    line-height: 1.31;
  }

  .about__icon {
    position: absolute;
    top: 17.2px;
    left: 132px;
    stroke: var(--primary-color);
    @include tablet() {
      top: 18.5px;
    }
  }
}
