.advantages {
  background-color: var(--bg-color-light);
  padding-top: 40px;

  @include tablet() {
    padding-top: var(--section-padding);
  }

  @include desktop() {
    padding-bottom: 45px;
  }

  &__list {
    @include mobile-only() {
      width: 230px;
      padding-right: 15px;
    }

    @include tablet() {
      display: flex;
      flex-wrap: wrap;
    }

    @include desktop() {
      flex-direction: row;
      gap: var(--gutter);
    }
  }

  &__item {
    position: relative;
    @include desktop {
      width: calc((100% - 64px) / 3);
    }
  }

  &__item:not(:last-child) {
    @include mobile-only() {
      margin-bottom: var(--gutter);
    }
  }

  &__icon {
    margin-bottom: 16px;
  }

  &__amount {
    margin-bottom: 4px;
    font-family: var(--font-accent);
    text-transform: lowercase;
    color: var(--primary-color);

    &::after {
      content: "";
      display: block;
      position: absolute;

      background-size: contain;
      background-repeat: no-repeat;
    }

    &::before {
      content: "";
      display: block;
      margin-bottom: 16px;
      width: 100%;
      height: 50px;
      background-size: contain;
      background-repeat: no-repeat;

      @include tablet() {
        margin-bottom: 36px;
      }

      @include desktop() {
        margin-bottom: 40px;
      }
    }

    @include font(400, 36, 1.14, 0.04em);

    @include tablet-only() {
      margin-bottom: 13px;
      font-size: 48px;
    }

    @include desktop() {
      margin-bottom: 16px;
      font-size: 58px;
    }
  }

  &__item:nth-child(1) &__amount::before {
    background-image: url("../images/advantages-svg/milk.svg");
  }

  &__item:nth-child(1) &__amount::after {
    top: 0;
    z-index: 5;

    width: 33px;
    height: 50px;
    background-image: url("../images/advantages-svg/udder.svg");

    animation: heartbeat 1s ease-in-out infinite;
    transform-origin: top;
  }

  &__item:nth-child(2) &__amount::after {
    top: 28px;
    left: 30px;
    z-index: 5;

    width: 21px;
    height: 30px;
    background-image: url("../images/advantages-svg/apple-small.svg");

    animation: rolling 5s ease-in-out infinite;
  }

  &__item:nth-child(2) &__amount::before {
    background-image: url("../images/advantages-svg/apples.svg");
  }

  &__item:nth-child(3) &__amount::before {
    background-image: url("../images/advantages-svg/heart.svg");

    animation: heartbeat 1s ease infinite;
    transform-origin: left;
  }

  &__text {
    font-family: "DM Sans";

    @include font(700, 12, 1.7, null);

    @include tablet-only() {
      width: 180px;
      font-size: 14px;
    }

    @include desktop() {
      width: 305px;
      font-size: 16px;
    }
  }
}
