.contacts {
  background-image: linear-gradient(
    to bottom,
    #e5e5e5 24%,
    var(--bg-color-light) 24%
  );
}

.contacts__list {
  min-width: 280px;
  width: 100%;
  height: auto;
  margin-bottom: 32px;
}

.contacts__card:not(:last-child) {
  margin-bottom: 20px;
}

.contacts__card {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 32px;
  padding-right: 32px;
  background: var(--text-color-light);
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
}

.contacts__paragraph {
  margin-bottom: 24px;
}

.contacts__category {
  display: inline-block;

  width: 80px;
  margin-bottom: 20px;

  @include font(500, 12px, 1.86, 0.04em);
  text-align: center;
  border-radius: 4px;
  color: var(--text-color-light);
  background-color: var(--product-color-second);
}

.contacts__category--color {
  width: 130px;
  background-color: var(--product-color-third);
}

.contacts__address {
  margin-bottom: 8px;
  @include font(500, 12px, 1.86, 0.04em);
}

.contacts__text {
  @include font(500, 12px, 1.5, 0.04em);
  color: var(--text-color-accent);
}

.contacts__timetable {
  padding-top: 24px;
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
}

.contacts__day {
  @include font(500, 12px, 1.86, 0.04em);
}
.contacts__time {
  @include font(500, 12px, 1.86, 0.04em);
  color: var(--accent-color);
}

.contacts__link {
  @include font(500, 12px, 1.5, 0.04em);
  color: var(--text-color-accent);
}

.contacts__btn-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contacts__btn-item {
  margin-left: auto;
  margin-right: auto;
}

.contacts__btn-address,
.contacts__btn-franchise {
  @include centered;

  max-width: 161px;
  max-height: 44px;
  border-style: none;
  border-radius: 22px;

  @include font(500, var(--font-size), 1.31, 0.04em);
  color: var(--text-color-light);
  background-color: var(--btn-primary-color);

  transition: background-color 250ms var(--transition-prop);
}
.contacts__btn-address {
  padding-left: 13px;
  padding-right: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.contacts__btn-franchise {
  padding-left: 31px;
  padding-right: 28px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.contacts__btn-franchise {
  color: var(--btn-primary-color);
  background-color: var(--text-color-light);
}

.contacts__btn-icon-address {
  fill: var(--text-color-light);
  transition: background-color 250ms var(--transition-prop);
}

.contacts__btn-icon-franchise {
  fill: var(--btn-primary-color);
  transition: background-color 250ms var(--transition-prop);
}

.contacts__btn-icon-address,
.contacts__btn-icon-franchise {
  margin-left: 8px;
}

.contacts__btn-franchise:hover {
  color: var(--text-color-light);
  background-color: var(--btn-primary-color);
}

.contacts__btn-franchise:hover .contacts__btn-icon-franchise {
  fill: var(--text-color-light);
}

.contacts__btn-address:hover {
  color: var(--btn-primary-color);
  background-color: var(--text-color-light);
}

.contacts__btn-address:hover .contacts__btn-icon-address {
  fill: var(--btn-primary-color);
}
