.gallery {
    padding-top: var(--section-padding);
    background-image: linear-gradient(
        to bottom,
        var(--bg-color-light) 44%,
        #ffffff 44%
    );
    @include tablet() {
        background-image: linear-gradient(
            to bottom,
            var(--bg-color-light) 58%,
            #ffffff 58%
        );
    }
    @include desktop() {
        padding-bottom: var(--section-padding);
        background-image: linear-gradient(
            to bottom,
            var(--bg-color-light) 27%,
            #ffffff 27%
        );
    }

    &__grid {
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr) 2fr repeat(3, 1fr);

        @include mobile-only() {
            max-width: $mobile;
            gap: 2.5px;
        }

        @include tablet-only() {
            max-width: $tablet;
            gap: 6px;
        }

        @include desktop() {
            max-width: 1013px;
            gap: 8px;
        }
    }

    &__item {
        display: grid;

        @include mobile-only() {
            gap: 2.5px;
        }

        @include tablet-only() {
            gap: 6px;
        }

        @include desktop() {
            gap: 8px;
        }

        @mixin rows($gapCellHeight, $screen: m) {
            $gap: 2.5px;

            @if $screen == t {
                $gap: 6px;
                grid-template-rows: ($gapCellHeight - $gap) auto auto 1fr;
            } @else if $screen == d {
                $gap: 8px;
                grid-template-rows: ($gapCellHeight - $gap) auto auto 1fr;
            }

            grid-template-rows: ($gapCellHeight - $gap) auto auto 1fr;
        }

        @mixin animate($delay) {
            animation-name: gallery-scale;
            animation-duration: 30000ms;
            animation-delay: $delay*3;
            animation-iteration-count: infinite;
        }

        &:nth-child(1) {
            @include rows(45px);

            @include tablet-only() {
                @include rows(109px, t);
                @include animate(0s);
            }

            @include desktop() {
                @include rows(142px, d);
            }
        }

        &:nth-child(2) {
            @include rows(28px);

            @include tablet-only() {
                @include rows(68px, t);

                .gallery__img:not(:last-child) {
                    @include animate(4s);
                }
                
                .gallery__img:last-child {
                    @include animate(7s);
                }
            }

            @include desktop() {
                @include rows(89px, d);
            }
        }

        &:nth-child(3) {
            @include tablet-only(){
                .gallery__img:not(:last-child) {
                    @include animate(9s);
                }
                .gallery__img:last-child {
                    @include animate(5s);
                }
            }
        }

        &:nth-child(4) {
            @include rows(31px);

            @include tablet-only() {
                @include rows(75px, t);
                
                .gallery__img:not(:last-child) {
                    @include animate(3s);
                }
                .gallery__img:last-child {
                    @include animate(1s);
                }
            }

            @include desktop() {
                @include rows(99px, d);
            }
        }

        &:nth-child(5) {
            @include rows(21px);

            @include tablet-only() {
                @include rows(51px, t);
                
                .gallery__img:not(:last-child) {
                    @include animate(6s);
                }
                .gallery__img:last-child {
                    @include animate(8s);
                }
            }

            @include desktop() {
                @include rows(66px, d);
            }
        }

        &:nth-child(6) {
            @include rows(50px);

            @include tablet-only() {
                @include rows(118px, t);
                @include animate(2s);
            }

            @include desktop() {
                @include rows(155px, d);
            }
        }
    }

    &__img {
        transition: transform var(--transition-prop);

        & img {
            @include mobile-only() {
                border-radius: 8px;
            }

            @include tablet() {
                border-radius: 20px;
            }
        }

        @include desktop() {
            &:hover {
                transform: scale(115%);
                z-index: 10;
            }
        }
    }
}
