.hero {
  padding-top: 194px;
  margin: 0 auto;
  height: 502px;
  overflow: hidden;
  background-color: var(--bg-color);

  @media screen and (min-width: 768px) {
    height: 416px;
    padding-top: 102px;
  }
  @media screen and (min-width: 1200px) {
    height: 664px;
    padding-top: 147px;
  }

  &__main {
    margin-bottom: 20px;

    @include desktop() {
      margin-bottom: 24px;
    }
  }
}

.hero__container {
  position: relative;
  height: 100%;
}

.hero__title {
  z-index: 3;
  position: relative;
  width: 218px;
  font-family: var(--font-accent);
  text-transform: uppercase;

  &--white {
    @include font(400, 26px, 1.15, 0.04em);
    color: var(--text-color-light);
  }
  &--pink {
    @include font(400, 48px, 0.97, normal);
    color: var(--primary-color);
  }
  @include tablet() {
    width: 162px;
    &--white {
      font-size: 22px;
      line-height: 1.14;
    }
    &--pink {
      font-size: 34px;
      line-height: 0.91;
    }
  }
  @include desktop() {
    width: 277px;

    &--white {
      font-size: 38px;
      line-height: 1.16;
    }
    &--pink {
      font-size: 58px;
    }
  }
}

.hero__list {
  display: flex;
  gap: 8px;

  position: relative;
  z-index: 3;
  @include tablet() {
    margin-bottom: 20px;
    width: 40%;
  }
  @include desktop() {
    margin-bottom: 40px;
    gap: 12px;
  }
}

.hero__link {
  z-index: 2;
  position: relative;
  border-radius: 20px;
  height: 24px;
  padding: 0 14px;
  font-family: var(--font-main);
  @include font(400, 8px, 1.25, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  &--pink {
    color: var(--text-color-light);
    background-color: var(--primary-color);
    transition: background-color 250ms;
    &:hover,
    &:focus {
      background-color: var(--btn-hero-color);
    }
  }
  &--white {
    color: var(--primary-color);
    background-color: var(--text-color-light);
    transition: background-color 250ms;
    &:hover,
    &:focus {
      background-color: var(--btn-accent-color);
    }
  }
  @include desktop() {
    height: 40px;
    font-size: 14px;
    line-height: 1.29;
  }
}

.hero__info {
  position: absolute;
  z-index: 3;
  left: 184px;
  bottom: 56px;
  width: 114px;
  @include mobile-only() {
    display: none;
  }
  @include desktop() {
    width: 200px;
    left: 229px;
    bottom: 84px;
  }
}

.hero__text {
  margin-bottom: 8px;
  font-family: var(--font-main);
  @include font(400, 8px, 1.5, 0);
  color: var(--text-color-light);
  @include desktop() {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.4;
  }
}

.hero__img--milk {
  position: absolute;
  width: 152px;
  bottom: 16px;
  z-index: 1;
  @include mobile-only() {
    display: none;
  }
  @include desktop() {
    width: 213px;
    bottom: 60px;
  }
}

.hero__img--ice-cream {
  position: absolute;
  width: 171px;
  right: 32px;
  bottom: 0;
  z-index: 2;
  @include tablet() {
    width: 146px;
    right: 303px;
  }
  @include desktop() {
    width: 236px;
    right: 328px;
  }
}

.hero__img--prompt {
  display: block;
  position: absolute;
  top: 100px;
  left: 700px;
  z-index: 3;

  font-family: var(--font-accent);
  font-size: 16px;
  color: var(--primary-color);
  text-shadow: 0 0 6px #fff, 2px 2px 10px #fff, -2px -2px 10px #fff;

  opacity: 0;
  transition: opacity var(--transition-prop);
  pointer-events: none;

  -webkit-animation: scale-up-center 2s linear 5s infinite reverse;
  animation: scale-up-center 2s linear 5s infinite reverse;

  @include mobile-only() {
    display: none;
  }
  @include tablet-only() {
    top: 50px;
    left: 364px;
    font-size: 12px;
  }
}

.hero__circle {
  position: absolute;
  border-radius: 50%;
  height: 344px;
  width: 346px;
  background-color: var(--accent-color);
  bottom: 75px;
  right: -62px;
  @include tablet() {
    height: 335px;
    width: 333px;
    bottom: 40px;
    right: 185px;
  }
  @include desktop() {
    height: 534px;
    width: 534px;
    bottom: 77px;
    right: 149px;
  }
}

.hero__img--girl {
  position: absolute;
  width: 190px;
  right: 32px;
  bottom: 0px;
  z-index: 2;
  @include mobile-only() {
    display: none;
  }
  @include desktop() {
    width: 304px;
    right: 16px;
  }
}

.department__list {
  position: absolute;
  right: 32px;
  top: -10px;
  @include mobile-only() {
    display: none;
  }
  @include desktop() {
    top: 5px;
  }
}

.department__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 16px;

  &:before {
    content: "";
    display: block;
    position: absolute;
    z-index: 2;
    background-color: var(--text-color-light);
    border-radius: 50%;
    @include tablet() {
      width: 16px;
      height: 16px;
      top: -2px;
      right: -8px;
    }
    @include desktop() {
      width: 30px;
      height: 30px;
      top: -4px;
      right: -18px;
    }
  }
}

.department__number {
  z-index: 3;
  font-family: var(--font-accent);
  @include font(400, 28px, 1.14, 0.04em);
  text-transform: uppercase;
  color: var(--primary-color);
  @include desktop() {
    font-size: 46px;
    line-height: 1.15;
    margin-bottom: 2px;
  }
}

.department__kind {
  font-family: var(--font-main);
  @include font(400, 8px, 1.25, normal);
  color: var(--text-color-light);
  @include desktop() {
    font-size: 14px;
    line-height: 1.29;
  }
}
