.menu {
  position: fixed;
  top: 0;
  right: 0;
  background-color: var(--bg-menu-color);
  z-index: 100;
  width: 100vw;
  height: 100vh;
  padding: 20px;

  transform: translateX(0);
  transition: transform var(--transition-prop), opacity var(--transition-prop);
  @include tablet-only() {
    width: 40%;
    padding-right: 32px;
  }
  @include desktop() {
    display: none;
  }
}

.menu.is-hidden {
  opacity: 0;
  pointer-events: none;

  @include mobile-only() {
    transform: translateX(-100%);
  }

  @include tablet-only() {
    transform: translateX(100%);
  }
}

.mobile-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;

  @include mobile-only() {
    max-width: 400px;
  }
}

.menu__btn-close {
  top: 20px;
  right: 0;
  margin-left: auto;
  margin-bottom: 26px;

  border: none;
  background-color: transparent;
  &:hover .menu__close-icon,
  &:focus .menu__close-icon {
    transform: rotate(-90deg);
  }
}

.menu__close-icon {
  stroke: #fff;
  transition: transform 300ms linear;
}

.buy__btn-arrow {
  margin-left: 16px;
  stroke: var(--primary-color);
}

.nav__link {
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
  font-family: var(--font-main);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  color: #fff;

  transition: color var(--transition-prop);

  &:active,
  &:focus,
  &:hover {
    color: var(--primary-color);
  }
}

.nav__item {
  border-top: 1px solid var(--line-menu-color);
  &:last-child {
    border-bottom: 1px solid var(--line-menu-color);
  }
}
