.products-box.container {
    @include desktop() {
        padding-left: 16px;
        padding-right: 16px;
    }
}

.products {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.section__subtitle {
    display: block;
    margin-bottom: 15px;
    font-family: var(--font-accent);
    @include font(none, 18px, 1.15, 0.04);
    color: var(--accent-color);
    text-transform: uppercase;
    text-align: center;
    @include tablet() {
        margin-bottom: 18px;
        font-size: 26px;
    }
    @include desktop {
        margin-bottom: 16px;
        font-size: 30px;
    }
}

.section__title {
    margin-bottom: 20px;

    font-family: var(--font-accent);
    @include font(700, 34px, 1.15, 0.04);
    color: var(--primary-color);
    text-transform: uppercase;
    text-align: center;
    @include tablet() {
        font-size: 48px;
    }
    @include desktop() {
        margin-bottom: 20px;
        font-size: 58px;
    }
}

.products__list {
    @include tablet() {
        @include centered;
        gap: 16px;
    }

    @include desktop {
        @include centered;
        gap: 32px;
    }
}

.products__item {
    width: 100%;
}

.products__item::before {
    display: block;
    content: "";
    width: 100%;
    height: 280px;
    margin-bottom: -200px;
    margin-top: 62px;
    transform: translateY(-62px);

    background-repeat: no-repeat;
    background-position: center;

    @include retina {
        background-size: 280px 280px;
    }

    @include tablet-only() {
        height: 307px;
        margin-top: 18px;

        @include retina {
            background-size: 224px 224px;
        }
    }

    @include desktop {
        height: 394px;
        margin-top: 62px;

        @include retina {
            background-size: 368px 394px;
        }
    }
}

.products__item:nth-child(1):before {
    background-image: url(../images/products/product1-mob.png);

    @include retina {
        background-image: url(../images/products/product1-mob@2.png);
    }

    @include tablet() {
        background-image: url(../images/products/product1-tab.png);

        @include retina {
            background-image: url(../images/products/product1-tab@2.png);
        }
    }

    @include desktop() {
        background-image: url(../images/products/product1-desk.png);

        @include retina {
            background-image: url(../images/products/product1-desk@2.png);
        }
    }
}

.products__item:nth-child(2)::before {
    background-image: url(../images/products/product2-mob.png);

    @include retina {
        background-image: url(../images/products/product2-mob@2.png);
    }

    @include tablet() {
        background-image: url(../images/products/product2-tab.png);

        @include retina {
            background-image: url(../images/products/product2-tab@2.png);
        }
    }

    @include desktop() {
        background-image: url(../images/products/product2-desk.png);

        @include retina {
            background-image: url(../images/products/product2-desk@2.png);
        }
    }
}

.products__item:nth-child(3)::before {
    background-image: url(../images/products/product3-mob.png);

    @include retina {
        background-image: url(../images/products/product3-mob@2.png);
    }

    @include tablet() {
        background-image: url(../images/products/product3-tab.png);
    }
    @include retina {
        background-image: url(../images/products/product3-tab@2.png);
    }

    @include desktop() {
        background-image: url(../images/products/product3-desk.png);

        @include retina {
            background-image: url(../images/products/product3-desk@2.png);
        }
    }
}

.products__item-wrapper {
    padding: 155px 25px 40px;

    border-radius: 24px;
    @include tablet() {
        padding-top: 118px;
        padding-left: 32px;
        padding-right: 32px;
    }
    @include desktop() {
        padding-top: 165px;
        padding-left: 63px;
        padding-right: 63px;
    }
}

.products__item-wrapper--pink {
    background-color: var(--product-color-first);
}

.products__item-wrapper--yellow {
    background-color: var(--product-color-second);
}

.products__item-wrapper--green {
    background-color: var(--product-color-third);
}

.products__item-title {
    position: relative;
    margin-bottom: 70px;
    font-family: var(--font-accent);
    @include font(400, 20px, 1.15, 0.04);
    color: var(--text-color-light);
    text-transform: uppercase;
    text-align: center;
    @include desktop {
        margin-bottom: 70px;
        font-size: 30px;
    }
}

.products__item-title::after {
    content: ". . .";
    position: absolute;
    top: 40px;
    left: 45%;

    display: block;
}

.products__item-paragraph {
    height: auto;
    margin-bottom: 32px;
    @include font(700, 14px, 1.52, 0.04);
    color: var(--text-color-light);
    text-align: center;

    @include tablet() {
        line-height: 1.76;
        letter-spacing: 0.05;
    }
    @include desktop() {
        margin-bottom: 60px;
        font-size: 16px;
        letter-spacing: 0.04;
    }
}

.products__item-paragraph-mob {
    @include tablet {
        display: none;
    }
}

.products__btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: #ffffff;
    cursor: pointer;
    transition: var(--transition-prop);
    &:hover,
    &:focus {
        border: 1px solid var(--btn-primary-color);
    }
}
