.section {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.section__title {
  margin-bottom: 20px;

  font-family: var(--font-accent);
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--primary-color);

  @include tablet-only() {
    font-size: 48px;
  }

  @include desktop() {
    font-size: 58px;
    line-height: 1.14;
  }
}

.section__subtitle {
  margin-bottom: 16px;

  font-family: var(--font-accent);
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  text-align: center;
  text-transform: uppercase;
  color: var(--accent-color);

  @include tablet-only() {
    font-size: 26px;
    line-height: 1.15;
  }

  @include desktop() {
    font-size: 30px;
    line-height: 1.13;
  }
}
