.video-backdrop {
    position: fixed;
    z-index: 400;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: rgba(255, 245, 246, 0.7);
    transition: opacity var(--transition-prop), visibility var(--transition-prop);
    &.is-hidden {
      opacity: 0;
      pointer-events: none;
      visibility: hidden;
      transform: translate(-50%, -50%) scale(0);
    transition: transform var(--transition-prop),
}
}
.videomodal {
    position: absolute;
    z-index: 200;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale (1);
    width: 80%;
    height: 80%;
    padding: 35px;
    border-radius: 24px;
    background-color: var(--bg-color-light);
    transform: translate(-50%, -50%) scale(1);
    transition: transform var(--transition-prop);
  
    @include desktop {
      width: 60%;
      height: 75%;
    }
  }

  .videomodal__button-close {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
    background-color: var(--text-color-light);
    cursor: pointer;
    padding: 0;
    transition: background-color var(--transition-prop),
      color var(--transition-prop);
    &:hover {
      background-color: var(--btn-accent-color);
      color: var(--primary-color);
    }
  }
  
  .videomodal__icon-close{
    stroke: currentColor;
  }
  
  .iframe {
    width: 100%;
    height: 100%;
  }
  
